@use "../../cssUtils.scss" as cssUtils;

.crayon-label {
  box-sizing: border-box;
  @include cssUtils.typography(primary, default);
  color: cssUtils.$primary-text;

  &-disabled {
    color: cssUtils.$disabled-text;
    cursor: not-allowed;
  }
}

.crayon-label-required-asterisk {
  margin-left: cssUtils.$spacing-3xs;
}
