@use "sass:map";
@use "../../cssUtils.scss" as cssUtils;

.crayon-label {
  box-sizing: border-box;
  @include cssUtils.typography(label, default);
  color: map.get(cssUtils.$colors, "text", "primary");

  &-disabled {
    color: map.get(cssUtils.$colors, "text", "disabled");
    cursor: not-allowed;
  }
}
