@use "../../cssUtils.scss" as cssUtils;

// bar chart css
@forward "./BarChart/barChart.scss";
@forward "./MiniBarChart/miniBarChart.scss";

// area chart css
@forward "./AreaChart/areaChart.scss";

// line chart css
@forward "./LineChart/lineChart.scss";

// radar chart css
@forward "./RadarChart/radarChart.scss";

// segmented bar chart css
@forward "./SegmentedBarChart/segmentedBarChart.scss";

// pie chart css
@forward "./PieChart/pieChart.scss";

// radial chart css
@forward "./RadialChart/radialChart.scss";

// shared components css
@forward "./shared/XAxisTick/xAxisTick.scss";
@forward "./shared/DefaultLegend/defaultLegend.scss";
@forward "./shared/StackedLegend/stackedLegend.scss";
@forward "./shared/YAxisTick/yAxisTick.scss";
@forward "./shared/ScrollButtonsHorizontal/scrollButtonsHorizontal.scss";

// portal tooltip css
@forward "./shared/PortalTooltip/portalTooltip.scss";

// side bar tooltip css
@forward "./shared/SideBarTooltip/sideBarTooltip.scss";

.crayon-chart {
  // Container styles
  &-container {
    display: flex;
    aspect-ratio: 1/1;
    justify-content: center;
    font-size: 12px;
    line-height: 16px;

    .recharts-radial-bar-background-sector {
      fill: cssUtils.$bg-fill;
    }

    // Strokes and borders
    .recharts-cartesian-grid line[stroke="#ccc"],
    .recharts-curve.recharts-tooltip-cursor,
    .recharts-polar-grid[stroke="#ccc"],
    .recharts-reference-line[stroke="#ccc"] {
      stroke: cssUtils.$stroke-default;
    }

    // Transparency settings
    .recharts-dot[stroke="#fff"],
    .recharts-sector[stroke="#fff"] {
      stroke: transparent;
    }

    // Outline resets
    .recharts-layer,
    .recharts-sector,
    .recharts-surface {
      outline: none;
    }
  }
}

.crayon-chart-cartesian-grid {
  stroke: cssUtils.$stroke-default;
}

.crayon-chart-polar-grid {
  stroke: cssUtils.$stroke-default;
}

.crayon-chart-label-list {
  fill: cssUtils.$secondary-text;
}

//Pie Chart styles
// @subham either remove this or move this to it dedicated file.

.crayon-pie-chart {
  &-container {
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 1/1;

    &-fullscreen {
      min-height: 400px;
      width: 100%;
    }

    &-mobile {
      min-height: 300px;
      width: 100%;
    }

    &-tray {
      min-height: 350px;
      width: 100%;
    }

    &-copilot {
      min-height: 350px;
      width: 100%;
    }
  }
}

.crayon-pie-chart-label {
  fill: cssUtils.$secondary-text;
  padding: 0;
}
