@use "../../cssUtils.scss" as cssUtils;

// bar chart css
@forward "./BarChart/barChart.scss";
@forward "./HorizontalBarChart/horizontalBarChart.scss";

// area chart css
@forward "./AreaChart/areaChart.scss";

// line chart css
@forward "./LineChart/lineChart.scss";

// radar chart css
@forward "./RadarChart/radarChart.scss";

// segmented bar chart css
@forward "./SegmentedBarChart/segmentedBarChart.scss";

// pie chart css
@forward "./PieChart/pieChart.scss";

// radial chart css
@forward "./RadialChart/radialChart.scss";

// shared components css
@forward "./shared/XAxisTick/xAxisTick.scss";
@forward "./shared/DefaultLegend/defaultLegend.scss";
@forward "./shared/StackedLegend/stackedLegend.scss";
@forward "./shared/YAxisTick/yAxisTick.scss";
@forward "./shared/ScrollButtonsHorizontal/scrollButtonsHorizontal.scss";
@forward "./shared/ScrollButtonsVertical/scrollButtonsVertical.scss";
@forward "./shared/LabelTooltip/labelTooltip.scss";

// portal tooltip css
@forward "./shared/PortalTooltip/portalTooltip.scss";

// side bar tooltip css
@forward "./shared/SideBarTooltip/sideBarTooltip.scss";

.crayon-chart {
  // Container styles
  &-container {
    display: flex;
    aspect-ratio: 1/1;
    justify-content: center;
    font-size: 12px;
    line-height: 16px;

    .recharts-radial-bar-background-sector {
      fill: cssUtils.$bg-fill;
    }

    // Strokes and borders
    .recharts-cartesian-grid line[stroke="#ccc"],
    .recharts-curve.recharts-tooltip-cursor,
    .recharts-polar-grid[stroke="#ccc"],
    .recharts-reference-line[stroke="#ccc"] {
      stroke: cssUtils.$stroke-default;
    }

    // Transparency settings
    .recharts-dot[stroke="#fff"],
    .recharts-sector[stroke="#fff"] {
      stroke: transparent;
    }

    // Outline resets
    .recharts-layer,
    .recharts-sector,
    .recharts-surface {
      outline: none;
    }
  }

  // Tooltip styles
  &-tooltip {
    display: grid;
    align-items: start;
    min-width: 128px;
    gap: cssUtils.$spacing-xs;
    padding: cssUtils.$spacing-xs;
    color: cssUtils.$primary-text;
    @include cssUtils.typography(label, default);
    border-radius: cssUtils.$rounded-s;
    border: 1px solid cssUtils.$stroke-default;
    background-color: cssUtils.$bg-container;
    box-shadow: cssUtils.$shadow-s;
    text-transform: capitalize;

    &-label {
      @include cssUtils.typography(label, default);
    }

    &-label-heavy {
      @include cssUtils.typography(label, heavy);
    }

    &-content {
      display: grid;
      align-items: start;
      min-width: 128px;
      gap: cssUtils.$spacing-xs;
      padding: cssUtils.$spacing-xs;
      color: cssUtils.$primary-text;
      @include cssUtils.typography(label, default);
      border-radius: cssUtils.$rounded-s;
      border: 1px solid cssUtils.$stroke-default;
      background-color: cssUtils.$bg-container;
      box-shadow: cssUtils.$shadow-s;
      text-transform: capitalize;

      &-item {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: cssUtils.$spacing-xs;
        align-items: stretch;
        &--dot {
          align-items: center;
        }

        svg {
          height: 10px;
          width: 10px;
          color: cssUtils.$primary-text;
        }
      }
      & &-indicator {
        flex-shrink: 0;
        border-radius: cssUtils.$rounded-3xs;

        &--dot {
          height: 10px;
          width: 10px;
          background-color: var(--color-bg);
          border-color: var(--color-border);
        }

        &--line {
          width: 4px;
          height: 100%;
          background-color: var(--color-bg);
          border-color: var(--color-border);
        }

        &--dashed {
          width: 0;
          border: 1.5px dashed var(--color-border);
          background-color: transparent;
        }

        &--nested-dashed {
          margin: cssUtils.$spacing-3xs 0;
        }
      }

      &-value-wrapper {
        display: flex;
        flex: 1;
        justify-content: space-between;
        line-height: 1;

        &--nested {
          align-items: flex-end;
        }

        &--standard {
          align-items: center;
        }
      }

      &-label {
        display: grid;
        gap: cssUtils.$spacing-xs;
        color: cssUtils.$primary-text;
        @include cssUtils.typography(label, default);
      }

      &-value {
        font-variant-numeric: tabular-nums;
        color: cssUtils.$primary-text;
        @include cssUtils.typography(label, default);
        margin-left: 4px;
        font-weight: 800;

        &--percentage {
          padding-left: cssUtils.$spacing-s;
        }
      }
    }
  }

  // Legend styles
  &-legend {
    display: flex;
    align-items: center;
    justify-content: center;
    // gap: 16px;
    text-transform: capitalize;
    flex-wrap: wrap;

    &--top {
      padding-bottom: cssUtils.$spacing-s;
    }

    &--bottom {
      padding-top: cssUtils.$spacing-m;
    }

    &-item {
      display: flex;
      align-items: center;
      gap: cssUtils.$spacing-xs;
      margin: 0 6px;

      svg {
        height: 12px;
        width: 12px;
        color: cssUtils.$primary-text;
      }

      &-indicator {
        height: 8px;
        width: 8px;
        flex-shrink: 0;
        border-radius: cssUtils.$rounded-3xs;
        background-color: var(--color-bg);
      }

      &-label {
        @include cssUtils.typography(label, heavy);
        max-width: 164px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: cssUtils.$primary-text;
      }
    }
  }
}

.crayon-chart-cartesian-grid {
  stroke: cssUtils.$stroke-default;
}

.crayon-chart-vertical-cartesian-grid {
  stroke: cssUtils.$stroke-default;
}

.crayon-chart-polar-grid {
  stroke: cssUtils.$stroke-default;
}

.crayon-chart-label-list {
  fill: cssUtils.$secondary-text;
}
