@use "../../cssUtils" as cssUtils;

.crayon-input {
  @include cssUtils.typography(body, default);
  border: 1px solid cssUtils.$stroke-default;
  border-radius: cssUtils.$rounded-m;
  box-sizing: border-box;
  width: 100%;
  gap: cssUtils.$spacing-xs;
  background-color: cssUtils.$bg-sunk;
  color: cssUtils.$primary-text;

  &-small {
    padding: cssUtils.$spacing-2xs cssUtils.$spacing-s;
  }

  &-medium {
    padding: cssUtils.$spacing-xs cssUtils.$spacing-s;
  }

  &-large {
    padding: cssUtils.$spacing-s;
  }
  &::placeholder {
    color: cssUtils.$secondary-text;
  }
  &:focus {
    outline: none;
  }

  &:not(.crayon-input-error):focus {
    border-color: cssUtils.$stroke-interactive-el;
  }

  &:disabled {
    background-color: cssUtils.$bg-sunk;
    border: 1px solid cssUtils.$stroke-default;
    cursor: not-allowed;
    color: cssUtils.$disabled-text;
  }

  &:not(:focus):not(:disabled):not(.crayon-input-error):hover {
    border-color: cssUtils.$stroke-interactive-el;
  }

  &-error {
    border-color: cssUtils.$stroke-danger-emphasis;
  }
}
