@use "../../../../cssUtils" as cssUtils;

.crayon-chart-x-axis-tick {
  @include cssUtils.typography(label, extra-small);
  fill: cssUtils.$secondary-text;
}

.crayon-chart-x-axis-tick-multi-line-container {
  // this is the div inside foreignObject
  @include cssUtils.typography(label, extra-small);
  color: cssUtils.$secondary-text;
}

.crayon-chart-x-axis-tick-multi-line {
  color: cssUtils.$secondary-text;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  min-width: 0;
}
