@use "sass:map";
@use "../../cssUtils" as cssUtils;

.crayon-follow-up-item {
  box-sizing: border-box;
  @include cssUtils.typography(primary, default);
  box-sizing: border-box;
  padding: map.get(cssUtils.$spacing, "xs") map.get(cssUtils.$spacing, "s");
  border-bottom: 1px solid map.get(cssUtils.$colors, "strokes", "default");
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: transparent;
  gap: map.get(cssUtils.$spacing, "xs");
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}
