@use "../../../cssUtils" as cssUtils;

.crayon-horizontal-bar-chart-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  .crayon-horizontal-bar-chart-container-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    min-width: 0;
  }

  .crayon-horizontal-bar-chart-x-axis-container {
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid cssUtils.$stroke-default;
    padding-top: cssUtils.$spacing-2xs;
  }

  .crayon-horizontal-bar-chart-container-inner-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
  }

  .crayon-horizontal-bar-chart-main-container {
    height: 100%;
    overflow-y: auto;
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for Firefox */
    scrollbar-width: none;

    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;
  }

  .crayon-horizontal-bar-chart-category-label {
    display: flex;
    align-items: center;
    color: cssUtils.$secondary-text;
    @include cssUtils.typography(label, extra-small);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    padding-left: cssUtils.$spacing-m;
    box-sizing: border-box;
  }
}
