@use "../../cssUtils.scss" as cssUtils;

.crayon-list-block {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid cssUtils.$stroke-default;
  border-radius: cssUtils.$rounded-m;
}
