@use "../../cssUtils" as cssUtils;

.slider {
  &-root {
    position: relative;
    display: flex;
    height: 20px;
    width: 100%;
    min-width: 100px;
    max-width: 100%;
    touch-action: none;
    user-select: none;
    align-items: center;
  }

  &-track {
    position: relative;
    height: 6px;
    flex-grow: 1;
    border-radius: cssUtils.$rounded-full;
    background-color: cssUtils.$bg-sunk;
  }

  &-range {
    position: absolute;
    height: 100%;
    border-radius: cssUtils.$rounded-full;
    background-color: cssUtils.$bg-brand-el;
  }

  &-thumb {
    outline: none;

    &-handle {
      display: block;
      width: 16px;
      height: 16px;
      border-radius: cssUtils.$rounded-3xs;
      outline: 1px solid cssUtils.$stroke-default;
      background-color: cssUtils.$bg-container;
      overflow: hidden;
      box-shadow: cssUtils.$shadow-s;

      &-inner {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color: cssUtils.$bg-container;
        transition: background-color 0.2s;

        &:hover {
          background-color: cssUtils.$bg-container-hover;
        }

        &-dot {
          width: 4px;
          height: 4px;
          border-radius: cssUtils.$rounded-full;
          background-color: cssUtils.$bg-brand-el;
        }
      }
    }

    &-value {
      @include cssUtils.typography(label, small);
      position: absolute;
      top: -30px;
      left: 50%;
      border-radius: cssUtils.$rounded-2xs;
      transform: translateX(-50%);
      background-color: cssUtils.$bg-container;
      color: cssUtils.$primary-text;
      padding: cssUtils.$spacing-2xs cssUtils.$spacing-3xs;
      border-radius: cssUtils.$rounded-s;
      box-shadow: cssUtils.$shadow-m;
      opacity: 0;
      transition: opacity 0.2s;

      .slider-thumb-handle:hover &,
      .slider-thumb-handle:focus & {
        opacity: 1;
      }
    }
  }

  &-dots {
    &-dot {
      position: absolute;
      top: 1px;
      width: 4px;
      height: 4px;
      border-radius: cssUtils.$rounded-full;
      background-color: cssUtils.$bg-container;
      transform: translateX(-50%);
    }
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
