@use "sass:map";
@use "../../../cssUtils" as cssUtils;

.crayon-calendar-select-content-months {
  padding: map.get(cssUtils.$spacing, "2xs") 0;
  background-color: map.get(cssUtils.$colors, "fills", "container");
  box-shadow: none;
}

.crayon-calendar-select-content-years {
  max-height: 295px;
  min-width: 362px;
  padding: map.get(cssUtils.$spacing, "2xs") 0;
  background-color: map.get(cssUtils.$colors, "fills", "container");
  box-shadow: none;
  .crayon-calendar-select-viewport {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;

    &-mobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .crayon-calendar-select-item {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    border-radius: map.get(cssUtils.$radius, "s");
    padding: map.get(cssUtils.$spacing, "s");

    &:hover {
      background-color: map.get(cssUtils.$colors, "fills", "container-hover");
    }
  }
}
