@use "../../../cssUtils" as cssUtils;

.crayon-calendar-container .crayon-calendar-select-trigger {
  background-color: transparent;
  border-color: transparent;

  &:hover {
    background-color: cssUtils.$interactive-hover;
    border-color: cssUtils.$stroke-interactive-el;
    color: cssUtils.$primary-text;
  }

  &[data-state="open"] {
    background-color: cssUtils.$interactive-hover;
    border-color: cssUtils.$stroke-interactive-el;
  }
}

.crayon-calendar-container .crayon-calendar-select-content-months {
  padding: cssUtils.$spacing-2xs 0;
  background-color: cssUtils.$bg-container;
  box-shadow: none;
}

.crayon-calendar-container .crayon-calendar-select-content-years {
  max-height: 295px;
  min-width: 362px;
  padding: cssUtils.$spacing-2xs 0;
  background-color: cssUtils.$bg-container;
  box-shadow: none;
  .crayon-calendar-select-viewport {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;

    &-mobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .crayon-calendar-select-item {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    border-radius: cssUtils.$rounded-s;
    padding: cssUtils.$spacing-s;

    &:hover {
      background-color: cssUtils.$bg-sunk;
    }
  }
}
