@use "../../cssUtils" as cssUtils;

.crayon-bottom-tray-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: cssUtils.$spacing-m;
  border-radius: cssUtils.$rounded-l cssUtils.$rounded-l 0 0;

  // Mobile
  @media (max-width: 768px) {
    border-radius: 0;
  }
}

.crayon-bottom-tray-header-logo-container {
  display: flex;
  align-items: center;
  gap: cssUtils.$spacing-s;
  @include cssUtils.typography(title, medium);
}

.crayon-bottom-tray-header-logo {
  width: 32px;
  height: 32px;
  border-radius: cssUtils.$rounded-m;
}

.crayon-bottom-tray-header-agent-name {
  @include cssUtils.typography(title, medium);
  color: cssUtils.$primary-text;
}

.crayon-bottom-tray-header-actions {
  display: flex;
  align-items: center;
  gap: cssUtils.$spacing-s;
}
