@use "sass:map";
@use "../../cssUtils.scss" as cssUtils;

.crayon-card {
  display: flex;
  flex-direction: column;
  gap: map.get(cssUtils.$spacing, "l");
  border: 1px solid transparent;
  box-sizing: border-box;
  color: map.get(cssUtils.$colors, "text", "primary");
  @include cssUtils.typography(body, default);

  &-card {
    padding: map.get(cssUtils.$spacing, "l");
    border-radius: map.get(cssUtils.$radius, "3xl");
    border-color: map.get(cssUtils.$colors, "strokes", "default");
    background-color: map.get(cssUtils.$colors, "fills", "container");
    box-shadow: none;
  }

  &-clear {
    padding: 0px map.get(cssUtils.$spacing, "l");
    border-radius: map.get(cssUtils.$radius, "3xl");
    background-color: transparent;
    box-shadow: none;
  }

  &-sunk {
    padding: map.get(cssUtils.$spacing, "l");
    border-radius: map.get(cssUtils.$radius, "3xl");
    background-color: map.get(cssUtils.$colors, "fills", "sunk");
    border-color: map.get(cssUtils.$colors, "strokes", "default");
    box-shadow: map.get(cssUtils.$shadow, "m");
  }

  &-standard {
    width: 80%;
  }

  &-full {
    width: 100%;
  }
}
