@use "sass:map";
@use "../../cssUtils" as cssUtils;

.crayon-header {
  display: flex;
  flex-direction: column;
  gap: map.get(cssUtils.$spacing, "2xs");
  overflow-wrap: break-word;
}
.crayon-header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.crayon-header-top-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: map.get(cssUtils.$spacing, "s");
  color: map.get(cssUtils.$colors, "text", "primary");
  @include cssUtils.typography(title, default);
}
.crayon-header-top-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: map.get(cssUtils.$spacing, "2xs");
}
.crayon-header-bottom {
  color: map.get(cssUtils.$colors, "text", "secondary");
  @include cssUtils.typography(body, default);
}
