@use "sass:map";
@use "../../cssUtils" as cssUtils;

.crayon-textarea {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid map.get(cssUtils.$colors, "strokes", "default");
  border-radius: map.get(cssUtils.$radius, "s");
  padding: map.get(cssUtils.$spacing, "xs") map.get(cssUtils.$spacing, "s");
  gap: map.get(cssUtils.$spacing, "xs");
  background-color: map.get(cssUtils.$colors, "fills", "container");
  color: map.get(cssUtils.$colors, "text", "primary");
  outline: none;
  resize: none;
  @include cssUtils.typography(primary, default);

  &:disabled {
    cursor: not-allowed;
  }
}
