@use "sass:map";
@use "../../cssUtils" as cssUtils;

.crayon-tabs {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: map.get(cssUtils.$spacing, "m");

  &-clear {
    .crayon-tabs-content {
      padding: map.get(cssUtils.$spacing, "3xs") map.get(cssUtils.$spacing, "xs");
      border: transparent;
    }
  }

  &-card {
    .crayon-tabs-content {
      padding: map.get(cssUtils.$spacing, "l");
      border: 1px solid map.get(cssUtils.$colors, "strokes", "default");
    }
  }

  &-sunk {
    .crayon-tabs-content {
      padding: map.get(cssUtils.$spacing, "l");
      border: 1px solid map.get(cssUtils.$colors, "strokes", "default");
      background-color: map.get(cssUtils.$colors, "fills", "sunk");
    }
  }
}

.crayon-tabs-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: map.get(cssUtils.$spacing, "s");
  border: 1px solid map.get(cssUtils.$colors, "strokes", "default");
  padding: map.get(cssUtils.$spacing, "2xs");
  border-radius: map.get(cssUtils.$radius, "s");
  background-color: transparent;
}

.crayon-tabs-trigger {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: map.get(cssUtils.$spacing, "3xs");
  box-sizing: border-box;
  padding: map.get(cssUtils.$spacing, "2xs") map.get(cssUtils.$spacing, "3xs");
  border: 1px solid transparent;
  border-radius: map.get(cssUtils.$radius, "xs");
  width: 100%;
  background-color: map.get(cssUtils.$colors, "fills", "container");
  color: map.get(cssUtils.$colors, "text", "primary");
  @include cssUtils.typography(label, default);
  &[data-state="active"] {
    background-color: map.get(cssUtils.$colors, "fills", "background");
    border-color: map.get(cssUtils.$colors, "strokes", "default");
  }
  & svg {
    width: 14px;
    height: 14px;
  }
}

.crayon-tabs-content {
  box-sizing: border-box;
  padding: map.get(cssUtils.$spacing, "l");
  border: 1px solid transparent;
  border-radius: map.get(cssUtils.$radius, "m");
  @include cssUtils.typography(body, default);

  &-inner {
    display: flex;
    flex-direction: column;
    gap: map.get(cssUtils.$spacing, "l");
  }
}
