@use "../../cssUtils" as cssUtils;

.crayon-tabs {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: cssUtils.$spacing-m;

  &-clear {
    .crayon-tabs-content {
      padding: cssUtils.$spacing-3xs cssUtils.$spacing-xs;
      border: transparent;
    }
  }

  &-card {
    .crayon-tabs-content {
      padding: cssUtils.$spacing-l;
      border: 1px solid cssUtils.$stroke-default;
    }
  }

  &-sunk {
    .crayon-tabs-content {
      padding: cssUtils.$spacing-l;
      border: 1px solid cssUtils.$stroke-default;
      background-color: cssUtils.$bg-sunk;
    }
  }
}

.crayon-tabs-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: cssUtils.$spacing-s;
  border: 1px solid cssUtils.$stroke-default;
  padding: cssUtils.$spacing-2xs;
  border-radius: cssUtils.$rounded-s;
  background-color: transparent;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.crayon-tabs-trigger {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: cssUtils.$spacing-2xs;
  box-sizing: border-box;
  padding: cssUtils.$spacing-2xs cssUtils.$spacing-3xs;
  border: 1px solid transparent;
  border-radius: cssUtils.$rounded-xs;
  min-width: 7.3rem;
  width: 100%;
  background-color: transparent;
  color: cssUtils.$secondary-text;
  @include cssUtils.typography(label, default);
  &[data-state="active"] {
    background-color: cssUtils.$bg-sunk;
    border-color: cssUtils.$stroke-default;
    color: cssUtils.$primary-text;
  }
  &-text {
    text-align: center;
    width: auto;
    max-width: 232px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
  }
}

.crayon-tabs-content {
  box-sizing: border-box;
  padding: cssUtils.$spacing-l;
  border: 1px solid transparent;
  border-radius: cssUtils.$rounded-m;
  @include cssUtils.typography(body, default);

  &-inner {
    display: flex;
    flex-direction: column;
    gap: cssUtils.$spacing-l;
  }
}
