@use "../../cssUtils" as cssUtils;

.crayon-callout {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: cssUtils.$spacing-xs;
  padding: cssUtils.$spacing-m;
  border-radius: cssUtils.$rounded-xl;
  box-sizing: border-box;
  &-neutral {
    background-color: cssUtils.$bg-container-hover;
    border: 1px solid cssUtils.$stroke-default;
    color: cssUtils.$primary-text;
    .crayon-callout-content-title {
      color: cssUtils.$primary-text;
    }
  }

  &-info {
    background-color: cssUtils.$bg-info;
    border: 1px solid cssUtils.$stroke-default;
    color: cssUtils.$info-text;
    .crayon-callout-content-title {
      color: cssUtils.$info-text;
    }
  }

  &-warning {
    background-color: cssUtils.$bg-danger;
    border: 1px solid cssUtils.$stroke-default;
    color: cssUtils.$danger-text;
    .crayon-callout-content-title {
      color: cssUtils.$danger-text;
    }
  }

  &-success {
    background-color: cssUtils.$bg-success;
    border: 1px solid cssUtils.$stroke-default;
    color: cssUtils.$success-text;
    .crayon-callout-content-title {
      color: cssUtils.$success-text;
    }
  }

  &-icon {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: cssUtils.$spacing-3xs;
  }

  &-icon-inner {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: cssUtils.$spacing-2xs;
    &-title {
      @include cssUtils.typography(title, default);
      color: cssUtils.$primary-text;
    }

    &-description {
      @include cssUtils.typography(body, default);
      color: cssUtils.$secondary-text;
    }
  }
}
