@use "../../cssUtils" as cssUtils;

.crayon-tag {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  border: 1px solid cssUtils.$stroke-default;
  border-radius: cssUtils.$rounded-s;
  padding: cssUtils.$spacing-2xs cssUtils.$spacing-s cssUtils.$spacing-2xs cssUtils.$spacing-2xs;
  background: cssUtils.$bg-elevated;
  color: cssUtils.$primary-text;
  @include cssUtils.typography(body, default);
  gap: cssUtils.$spacing-2xs;

  &-icon {
    display: flex;
    align-items: center;
  }

  &-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
