@use "sass:map";
@use "../../cssUtils" as cssUtils;

.crayon-tag {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  border: 1px solid map.get(cssUtils.$colors, "strokes", "default");
  border-radius: map.get(cssUtils.$radius, "xs");
  padding: map.get(cssUtils.$spacing, "3xs") map.get(cssUtils.$spacing, "2xs");
  background: map.get(cssUtils.$colors, "fills", "sunk");
  color: map.get(cssUtils.$colors, "text", "primary");
  @include cssUtils.typography(body, default);

  &-icon {
    display: flex;
    align-items: center;
    margin-right: map.get(cssUtils.$spacing, "3xs");
  }

  &-text {
    overflow: hidden;
  }
}
