@use "../../cssUtils" as cssUtils;

.crayon-markdown-renderer-code {
  border-radius: 4px;
  padding: 2px 4px;
  background-color: cssUtils.$bg-sunk;
  border: 1px solid cssUtils.$stroke-default;
  color: cssUtils.$primary-text;
  @include cssUtils.typography(body, link);
}

.crayon-markdown-renderer-code::after {
  content: "";
  display: hidden;
}

.crayon-markdown-renderer-code::before {
  content: "";
  display: hidden;
}

/* Card Styles */
.crayon-markdown-renderer-card {
  background-color: cssUtils.$bg-container;
  border-radius: 0.5rem;
  padding: 1rem;
}

.crayon-markdown-renderer-card-sunk {
  background-color: cssUtils.$bg-sunk;
  border-radius: 0.5rem;
  padding: 1rem;
}

/* Link Styles */
.crayon-markdown-renderer-link {
  color: cssUtils.$info-text;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  @include cssUtils.typography(body, link);
  &:hover {
    text-decoration: underline;
  }
}

/* generic tag styles */
.crayon-markdown-renderer {
  color: cssUtils.$primary-text;
  @include cssUtils.typography(body, default);
  /* Heading Styles */
  & h1 {
    @include cssUtils.typography(heading, large);
  }

  & h2 {
    @include cssUtils.typography(heading, medium);
  }

  & h3 {
    @include cssUtils.typography(heading, small);
  }

  // todo: add style for heading 4,5,6
  & h4 {
    @include cssUtils.typography(heading, small);
  }

  & h5 {
    @include cssUtils.typography(heading, small);
  }

  & h6 {
    @include cssUtils.typography(heading, small);
  }

  /* Paragraph Styles */
  & p {
    @include cssUtils.typography(body, medium);
  }

  /* Blockquote Styles */
  & blockquote {
    border-left: 4px solid cssUtils.$stroke-default;
    padding: 0px 0 0px 8px;
    margin-left: 1rem;
  }

  /* List Styles */
  & ul {
    padding-left: 28px;
  }

  & ol {
    padding-left: 28px;
  }
}
