.featureContainer{
    width: 100%;
    height: auto;
    padding:120px 0px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.featuresTitle{
    font-size: 3rem;
    line-height:1.25;
    font-weight: 600;
    letter-spacing: -0.5px;
    color:var(--primary-text);
    text-align: center;
    margin-bottom: 80px;
}

.featureBlockContainer{
    display: flex;
    gap: 80px;
    max-width: 1200px;
    width: 100%;
    padding: 40px 16px;
}

.featureBlock{
    flex: 1;
    width: 100%;
    aspect-ratio: 1/0.7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding: 32px;
    border: 1px solid var(--borders);
    position: relative;
}

.featureBlock::before,
.featureBlock::after,
.featureBlock > *:first-child::before,
.featureBlock > *:first-child::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: var(--border-primary);
    border-radius: 2px;
}

/* Top left dot */
.featureBlock::before {
    top: -2px;
    left: -2px;
}

/* Top right dot */
.featureBlock::after {
    top: -2px;
    right: -2px;
}

/* Bottom left dot */
.featureBlock > *:first-child::before {
    bottom: -2px;
    left: -2px;
}

/* Bottom right dot */
.featureBlock > *:first-child::after {
    bottom: -2px;
    right: -2px;
}

.featureBlockTitle{
    font-size: 1.5rem;
    color:var(--primary-text);
    letter-spacing: -0.5px;
    font-weight: 550;
}

.featureContent p{
    line-height: 1.4;
    margin-top: 16px;
    color: var(--secondary-text);
    font-size: 1.125rem;
}

.featureIcon img{
    width: 56px;
    height: 56px;
}

@media screen and (max-width: 720px) {
    .featureContainer{
        width: 90%;
        margin: auto;
    }

    .featuresTitle{
        font-size: 2rem;
        margin-bottom: 96px;
    }

    .featureBlockContainer{
        flex-direction: column;
        gap: 48px;
        max-width: 1200px;
        width: 100%;
        padding: 24px 16px;
    }

    .featureBlock{
        gap: 16px;
        padding: 20px;
        aspect-ratio: 1/0.9;
    }

    .featureBlockTitle{
        font-size: 1.25rem;
        color:var(--primary-text);
        letter-spacing: -0.5px;
        font-weight: 550;
    }
    
    .featureContent p{
        font-size: 1rem;
        margin-top: 8px;
    }
    
    .featureIcon img{
        width: 48px;
        height: 48px;
    }


}

