.footerSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0 48px 0;
  background-image: url('/img/footer-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.socialCard {
  width: 540px;
  height: 540px;
  background-color: var(--elevated-container);
  border: 1px solid var(--borders);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px;
  text-align: center;
  margin-bottom: 120px;
}

.socialIcons {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}

.socialTitle {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-text);
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.socialText {
  color: var(--secondary-text);
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 32px;
  max-width: 400px;
}

.socialButtons {
  display: flex;
  gap: 16px;
}

.buttonIcon {
  margin-right: 8px;
}

.footer {
  width: 95%;
  max-width: 1200px;
  border-top: 1px solid var(--borders);
  margin-top: 80px;
}

.footerContent {
  max-width: 1200px;
  margin: 0 auto;
  padding: 48px 16px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.footerMain {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footerLogo {
  display: flex;
  align-items: center;
  gap: 8px;
}


.footerLists {
  display: flex;
  gap: 64px;
}

.footerList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footerList h4 {
  color: var(--secondary-text);
  font-size: 1.125rem;
  font-weight: 500;
}

.footerText{
    color: var(--secondary-text);
    font-size: 1.125rem;
}

.footerList ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footerList a {
  color: var(--primary-text);
  text-decoration: none;
  font-size: 1.125rem;
  transition: color 0.2s ease;
}

.footerList a:hover {
  color: var(--primary-text);
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
}

.footerLinks {
  display: flex;
  gap: 24px;
}

.footerLinks a {
  color: var(--secondary-text);
  text-decoration: none;
  font-size: 1.125rem;
  transition: color 0.2s ease;
}

.footerLinks a:hover {
  color: var(--primary-text);
}

@media screen and (max-width: 720px) {
  .socialCard{
    width: 90%;
    max-width: 540px;
    aspect-ratio: 1/1;
  }

  .socialTitle {
    font-size: 2rem;
    letter-spacing: -0.5px;
  }

  .socialText {
    color: var(--secondary-text);
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 32px;
    max-width: 400px;
  }

  .footerList h4 {
    color: var(--secondary-text);
    font-size: 1rem;
    font-weight: 500;
  }

  .footerMain {
    flex-direction: column;
    gap: 32px;
  }

  .footerLists {
    gap: 32px;
    flex-direction: column;
    margin-top: 40px;
  }

  .footerBottom {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }

  .footerLinks {
    display: flex;
    gap: 16px;
  }

  .footerList a {
    font-size: 1rem;
  }

  .footerLinks a {
    font-size: 0.875rem;
  }

  .footerList ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .footerText{
    color: var(--secondary-text);
    font-size: 0.875rem;
}
}



