@use "../../../../cssUtils.scss" as cssUtils;

.crayon-chart-horizontal-scroll {
  &-buttons-container {
    position: relative;
  }

  &-button {
    position: absolute;
    background-color: cssUtils.$bg-container;

    &:hover {
      background-color: cssUtils.$bg-container;
    }

    &--left {
      top: -12px;
      transform: translateY(-50%);
      left: 20px;
    }

    &--right {
      top: -12px;
      transform: translateY(-50%);
      right: 0px;
    }

    &--disabled {
      visibility: hidden;
      cursor: not-allowed;
      transition: visibility 0.1s linear;
    }

    &--SideBarTooltip {
      top: -12px;
      transform: translateY(-50%);
      right: 185px;
    }
  }
}
