@use "../../cssUtils" as cssUtils;

.crayon-textarea {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid cssUtils.$stroke-default;
  border-radius: cssUtils.$rounded-m;
  padding: cssUtils.$spacing-xs cssUtils.$spacing-s;
  gap: cssUtils.$spacing-xs;
  background-color: cssUtils.$bg-sunk;
  color: cssUtils.$primary-text;
  outline: none;
  resize: none;
  @include cssUtils.typography(primary, default);

  &::placeholder {
    color: cssUtils.$disabled-text;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
