@use "../../cssUtils.scss" as cssUtils;

.crayon-card {
  display: flex;
  flex-direction: column;
  gap: cssUtils.$spacing-l;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: cssUtils.$primary-text;
  @include cssUtils.typography(body, default);

  // override theme variables so that other crayon components don't depend on chat colors
  // this solves the case where the crayon-card component is used without the crayon-shell-container
  --crayon-primary-text: #{cssUtils.$chat-assistant-response-text};
  --crayon-container-fills: #{cssUtils.$chat-assistant-response-bg};

  &-card {
    padding: cssUtils.$spacing-l;
    border-radius: cssUtils.$rounded-3xl;
    border-color: cssUtils.$stroke-default;
    background-color: cssUtils.$bg-container;
    box-shadow: none;
  }

  &-clear {
    padding: 0px cssUtils.$spacing-l;
    border-radius: cssUtils.$rounded-3xl;
    background-color: transparent;
    box-shadow: none;
  }

  &-sunk {
    padding: cssUtils.$spacing-l;
    border-radius: cssUtils.$rounded-3xl;
    background-color: cssUtils.$bg-sunk;
    border-color: cssUtils.$stroke-default;
    box-shadow: cssUtils.$shadow-m;
  }

  &-standard {
    width: 80%;
  }

  &-full {
    width: 100%;
  }
}
