@use "sass:map";
@use "../../cssUtils" as cssUtils;

@mixin text-content-variants($variant) {
  @if $variant == "sunk" {
    padding: map.get(cssUtils.$spacing, "m");
    background: map.get(cssUtils.$colors, "fills", "sunk");
    border-radius: map.get(cssUtils.$radius, "m");
    border-color: map.get(cssUtils.$colors, "strokes", "default");
  } @else if $variant == "card" {
    padding: map.get(cssUtils.$spacing, "m");
    border-radius: map.get(cssUtils.$radius, "m");
    border-color: map.get(cssUtils.$colors, "strokes", "default");
  } @else if $variant == "clear" {
    border-color: transparent;
  }
}

.text-content {
  box-sizing: border-box;
  @include cssUtils.typography(primary, default);
  border: 1px solid;

  &-sunk {
    @include text-content-variants("sunk");
  }

  &-card {
    @include text-content-variants("card");
  }

  &-clear {
    @include text-content-variants("clear");
  }
}
