@use "sass:map";
@use "../../cssUtils.scss" as cssUtils;

.crayon-list-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: map.get(cssUtils.$spacing, "2xs");
  border-bottom: 1px solid map.get(cssUtils.$colors, "strokes", "default");
  padding: map.get(cssUtils.$spacing, "s");
  cursor: pointer;

  &:last-child {
    border-bottom: none;
  }

  svg {
    color: map.get(cssUtils.$colors, "text", "secondary");
  }

  .crayon-list-item-content {
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .crayon-list-item-title {
    @include cssUtils.typography("primary", "default");
    color: map.get(cssUtils.$colors, "text", "primary");
  }

  .crayon-list-item-subtitle {
    @include cssUtils.typography("primary", "default");
    color: map.get(cssUtils.$colors, "text", "secondary");
  }
}
