@import url("./variables.css");

/* Primary fonts */
.crayon-font-primary {
  font: var(--font-primary);
  letter-spacing: var(--font-primary-letter-spacing);
}

/* Title fonts */
.crayon-font-title {
  font: var(--font-title);
  letter-spacing: var(--font-title-letter-spacing);
}

.crayon-font-title-medium {
  font: var(--font-title-medium);
  letter-spacing: var(--font-title-medium-letter-spacing);
}

.crayon-font-title-small {
  font: var(--font-title-small);
  letter-spacing: var(--font-title-small-letter-spacing);
}

/* Body fonts */
.crayon-font-body {
  font: var(--font-body);
  letter-spacing: var(--font-body-letter-spacing);
}

.crayon-font-body-link {
  font: var(--font-body-link);
  letter-spacing: var(--font-body-link-letter-spacing);
}

.crayon-font-body-heavy {
  font: var(--font-body-heavy);
  letter-spacing: var(--font-body-heavy-letter-spacing);
}

.crayon-font-body-medium {
  font: var(--font-body-medium);
  letter-spacing: var(--font-body-medium-letter-spacing);
}

.crayon-font-body-small-heavy {
  font: var(--font-body-small-heavy);
  letter-spacing: var(--font-body-small-heavy-letter-spacing);
}

.crayon-font-body-small {
  font: var(--font-body-small);
  letter-spacing: var(--font-body-small-letter-spacing);
}

/* Label fonts */
.crayon-font-label {
  font: var(--font-label);
  letter-spacing: var(--font-label-letter-spacing);
}

.crayon-font-label-heavy {
  font: var(--font-label-heavy);
  letter-spacing: var(--font-label-heavy-letter-spacing);
}

.crayon-font-label-small {
  font: var(--font-label-small);
  letter-spacing: var(--font-label-small-letter-spacing);
}

.crayon-font-label-small-heavy {
  font: var(--font-label-small-heavy);
  letter-spacing: var(--font-label-small-heavy-letter-spacing);
}

.crayon-font-label-extra-small {
  font: var(--font-label-extra-small);
  letter-spacing: var(--font-label-extra-small-letter-spacing);
}

.crayon-font-label-extra-small-heavy {
  font: var(--font-label-extra-small-heavy);
  letter-spacing: var(--font-label-extra-small-heavy-letter-spacing);
}

.crayon-font-label-large-heavy {
  font: var(--font-label-large-heavy);
  letter-spacing: var(--font-label-large-heavy-letter-spacing);
}

.crayon-font-label-large {
  font: var(--font-label-large);
  letter-spacing: var(--font-label-large-letter-spacing);
}

.crayon-font-label-medium-heavy {
  font: var(--font-label-medium-heavy);
  letter-spacing: var(--font-label-medium-heavy-letter-spacing);
}

.crayon-font-label-medium {
  font: var(--font-label-medium);
  letter-spacing: var(--font-label-medium-letter-spacing);
}

/* Heading fonts */
.crayon-font-heading-large {
  font: var(--font-heading-large);
  letter-spacing: var(--font-heading-large-letter-spacing);
}

.crayon-font-heading-medium {
  font: var(--font-heading-medium);
  letter-spacing: var(--font-heading-medium-letter-spacing);
}

.crayon-font-heading-small {
  font: var(--font-heading-small);
  letter-spacing: var(--font-heading-small-letter-spacing);
}
