@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  /* Background colors */
  --background-fills: #f5f5f5;
  /* this is provided by the user */
  --brand-el-fills: #000000;
  /* need to provide the opacity */
  --brand-el-hover-fills: #000000;
  --container-fills: #ffffff;
  /* need to provide the opacity */
  --overlay-fills: #000000;
  --sunk-fills: #000000a1;
  --container-hover-fills: #ffffff;
  --danger-fills: #7f56d9;
  --success-fills: #079455;

  /* Border colors */
  --strokes-default: #000000;
  --stocks-interactive-el: #000000;
  --stocks-interactive-el-hover: #000000;
  --strokes-interactive-el-selected: #000000;

  /* Text colors */
  --brand-text: #ffffff;
  --brand-secondary-text: #ffffff;
  --primary-text: #ffffff;
  --secondary-text: #ffffff;
  --disabled-text: #000000;
  --danger-text: #d92d20;
  --success-text: #079455;
  --link-text: #000000;
  --info-text: #000000;

  /* Spacing */
  --spacing-0: 0px;
  --spacing-3xs: 2px;
  --spacing-2xs: 4px;
  --spacing-xs: 6px;
  --spacing-s: 8px;
  --spacing-m: 12px;
  --spacing-l: 18px;
  --spacing-xl: 24px;
  --spacing-2xl: 36px;
  --spacing-3xl: 48px;

  /* Radius */
  --rounded-0: 0px;
  --rounded-3xs: 2px;
  --rounded-2xs: 4px;
  --rounded-xs: 6px;
  --rounded-s: 8px;
  --rounded-m: 12px;
  --rounded-l: 14px;
  --rounded-xl: 20px;
  --rounded-2xl: 28px;
  --rounded-3xl: 32px;
  --rounded-full: 999px;

  /* Font */
  /* font: weight size/line-height font-family */
  /* letter-spacing and paragraph-spacing can't be in the same variable */

  /* font-primary */

  --font-primary: 400 14px/20px "Inter";
  --font-primary-letter-spacing: 0px;
  --font-primary-paragraph-spacing: 0px;

  /* font-title */

  --font-title: 500 14px/20px "Inter";
  --font-title-letter-spacing: 0px;
  --font-title-paragraph-spacing: 0px;

  --font-title-medium: 500 16px/24px "Inter";
  --font-title-medium-letter-spacing: 0px;
  --font-title-medium-paragraph-spacing: 0px;

  --font-title-small: 500 14px/20px "Inter";
  --font-title-small-letter-spacing: 0px;
  --font-title-small-paragraph-spacing: 0px;

  /* font-body */

  --font-body: 400 14px/18px "Inter";
  --font-body-letter-spacing: 0px;
  --font-body-paragraph-spacing: 0px;

  --font-body-link: 500 14px/18px "Inter";
  --font-body-link-letter-spacing: 0px;
  --font-body-link-paragraph-spacing: 0px;

  --font-body-heavy: 600 16px/24px "Inter";
  --font-body-heavy-letter-spacing: 0px;
  --font-body-heavy-paragraph-spacing: 0px;

  --font-body-medium: 400 16px/24px "Inter";
  --font-body-medium-letter-spacing: 0px;
  --font-body-medium-paragraph-spacing: 0px;

  --font-body-small-heavy: 600 14px/20px "Inter";
  --font-body-small-heavy-letter-spacing: 0px;
  --font-body-small-heavy-paragraph-spacing: 0px;

  --font-body-small: 400 14px/20px "Inter";
  --font-body-small-letter-spacing: 0px;
  --font-body-small-paragraph-spacing: 0px;

  /* font-label */

  --font-label: 400 12px/16px "Inter";
  --font-label-letter-spacing: 0px;
  --font-label-paragraph-spacing: 12px;

  --font-label-heavy: 500 12px/16px "Inter";
  --font-label-heavy-letter-spacing: 0px;
  --font-label-heavy-paragraph-spacing: 0px;

  --font-label-small: 400 10px/16px "Inter";
  --font-label-small-letter-spacing: 0px;
  --font-label-small-paragraph-spacing: 0px;

  --font-label-small-heavy: 500 10px/16px "Inter";
  --font-label-small-heavy-letter-spacing: 0px;
  --font-label-small-heavy-paragraph-spacing: 0px;

  --font-label-extra-small: 400 8px/12px "Inter";
  --font-label-extra-small-letter-spacing: 0px;
  --font-label-extra-small-paragraph-spacing: 0px;

  --font-label-extra-small-heavy: 500 8px/12px "Inter";
  --font-label-extra-small-heavy-letter-spacing: 0px;
  --font-label-extra-small-heavy-paragraph-spacing: 0px;

  --font-label-large-heavy: 500 12px/16px "Inter";
  --font-label-large-heavy-letter-spacing: 0px;
  --font-label-large-heavy-paragraph-spacing: 0px;

  --font-label-large: 400 12px/16px "Inter";
  --font-label-large-letter-spacing: 0px;
  --font-label-large-paragraph-spacing: 0px;

  --font-label-medium-heavy: 600 10px/16px "Inter";
  --font-label-medium-heavy-letter-spacing: 0px;
  --font-label-medium-heavy-paragraph-spacing: 0px;

  --font-label-medium: 400 10px/16px "Inter";
  --font-label-medium-letter-spacing: 0px;
  --font-label-medium-paragraph-spacing: 0px;

  /* font-heading */

  --font-heading-large: 600 28px/36px "Inter";
  --font-heading-large-letter-spacing: 0px;
  --font-heading-large-paragraph-spacing: 0px;

  --font-heading-medium: 600 24px/32px "Inter";
  --font-heading-medium-letter-spacing: 0px;
  --font-heading-medium-paragraph-spacing: 0px;

  --font-heading-small: 600 18px/24px "Inter";
  --font-heading-small-letter-spacing: 0px;
  --font-heading-small-paragraph-spacing: 0px;

  /* shadow */

  --shadow-s: 0px 2px 4px -2px rgba(0, 0, 0, 0.04), 0px 1px 2px -2px rgba(0, 0, 0, 0.02);
  --shadow-m: 0px 2px 2px -2px rgba(0, 0, 0, 0.05), 0px 4px 6px -2px rgba(0, 0, 0, 0.03);
  --shadow-l: 0px 4px 4px -2px rgba(0, 0, 0, 0.05), 0px 4px 8px -2px rgba(0, 0, 0, 0.04);
  --shadow-xl: 0px 6px 8px -4px rgba(0, 0, 0, 0.12), 0px 4px 20px -6px rgba(0, 0, 0, 0.08);
  --shadow-2xl: 0px 6px 10px -6px rgba(0, 0, 0, 0.14), 0px 8px 32px -6px rgba(0, 0, 0, 0.12);
  --shadow-3xl: 0px 12px 24px -4px rgba(0, 0, 0, 0.14), 0px 16px 32px -6px rgba(0, 0, 0, 0.12);
}

[data-theme="dark"] {
  color-scheme: dark;
  /* Background colors */
  --background-fills: #f5f5f5;
  /* this is provided by the user */
  --brand-el-fills: #000000;
  /* need to provide the opacity */
  --brand-el-hover-fills: #000000;
  --container-fills: #ffffff;
  /* need to provide the opacity */
  --overlay-fills: #000000;
  --sunk-fills: #000000;
  --container-hover-fills: #ffffff;
  --danger-fills: #7f56d9;
  --success-fills: #079455;

  /* Border colors */
  --strokes-default: #000000;
  --stocks-interactive-el: #000000;
  --stocks-interactive-el-hover: #000000;
  --strokes-interactive-el-selected: #000000;

  /* Text colors */
  --brand-text: #ffffff;
  --brand-secondary-text: #ffffff;
  --primary-text: #ffffff;
  --secondary-text: #ffffff;
  --disabled-text: #000000;
  --danger-text: #d92d20;
  --success-text: #079455;
  --link-text: #000000;
  --info-text: #000000;
}
