@use "../../cssUtils" as cssUtils;

.crayon-accordion {
  box-sizing: border-box;
  border-radius: cssUtils.$rounded-2xl;
  border: 1px solid cssUtils.$stroke-default;
  padding: cssUtils.$spacing-m;
  padding-bottom: 0;

  &-clear {
    border: 1px solid transparent;
    box-shadow: none;
    padding: 0;
    .crayon-accordion-trigger {
      box-shadow: none;
      padding-left: 0;
      padding-right: 0;
      padding-top: cssUtils.$spacing-l;
      padding-bottom: cssUtils.$spacing-l;
    }
    .crayon-accordion-item {
      &:first-child {
        .crayon-accordion-trigger {
          padding-top: 0;
        }
      }
      &:last-child {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom: 1px solid transparent;
      }
    }
    .crayon-accordion-content {
      &-wrapper {
        padding: 0;
        padding-bottom: cssUtils.$spacing-l;
        gap: cssUtils.$spacing-m;
      }
    }
  }
  &-card {
    .crayon-accordion-content {
      &-wrapper {
        padding: 0;
        padding-bottom: cssUtils.$spacing-m;
        gap: cssUtils.$spacing-l;
      }
    }

    .crayon-accordion-item {
      &:last-child {
        .crayon-accordion-trigger {
          border-bottom: none;
        }
      }
    }
    .crayon-accordion-item {
      &:last-child {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom: none;
      }
    }
  }

  &-sunk {
    background-color: cssUtils.$bg-sunk;

    .crayon-accordion-content {
      &-wrapper {
        padding: 0;
        padding-bottom: cssUtils.$spacing-m;
        gap: cssUtils.$spacing-l;
      }
    }

    .crayon-accordion-item {
      &:last-child {
        .crayon-accordion-trigger {
          border-bottom: none;
        }
      }
    }
  }

  &-item {
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 1px solid cssUtils.$stroke-default;

    &:first-child {
      margin-top: 0;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      .crayon-accordion-trigger {
        padding-top: 0;
      }
    }
    &:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-bottom: none;
    }
    &:focus-within {
      position: relative;
      z-index: 1;
    }
  }
  &-header {
    display: flex;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
  &-trigger {
    border: none;
    box-sizing: border-box;
    @include cssUtils.typography("body", "default");
    background-color: transparent;
    padding: cssUtils.$spacing-l 0;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: cssUtils.$primary-text;
    cursor: pointer;

    &-content {
      display: flex;
      align-items: center;
      color: cssUtils.$primary-text;
      gap: cssUtils.$spacing-xs;
      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 16px;
        width: 16px;
      }
    }

    &-icon {
      color: cssUtils.$primary-text;
      height: 16px;
      width: 16px;
      transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
    }
    &[data-state="open"] {
      .crayon-accordion-trigger-icon {
        transform: rotate(180deg);
      }
    }
  }
  &-content {
    overflow: hidden;
    color: cssUtils.$primary-text;
    @include cssUtils.typography("body", "default");

    &[data-state="open"] {
      animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
    }
    &[data-state="closed"] {
      animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
    }
    &-wrapper {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      padding: 0;
      gap: cssUtils.$spacing-l;
    }
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
