@use "sass:map";
@use "../../cssUtils" as cssUtils;

.crayon-footer {
  display: flex;
  width: 100%;
  gap: map.get(cssUtils.$spacing, "m");
  box-sizing: border-box;

  &-horizontal {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &-vertical {
    flex-direction: column;
  }
}
