@forward "./Hint/hint";
@use "../../cssUtils.scss" as cssUtils;

.crayon-form-control {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: cssUtils.$spacing-s;

  &:has(.crayon-label) {
    .crayon-label {
      padding-left: cssUtils.$spacing-2xs;
    }
  }
}
