@forward "./Hint/hint";
@use "../../cssUtils.scss" as cssUtils;

.crayon-form-control {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: cssUtils.$spacing-s;

  .crayon-label {
    padding-left: cssUtils.$spacing-2xs;

    &:has(+ .crayon-checkbox-group, + .crayon-radio-group, + .crayon-switch-group) {
      padding-left: 0;
    }
  }
}
