@use "../../cssUtils.scss" as cssUtils;

.crayon-list-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid cssUtils.$stroke-default;
  padding: cssUtils.$spacing-m;
  gap: cssUtils.$spacing-s;
  cursor: pointer;

  &:last-child {
    border-bottom: none;
  }

  svg {
    color: cssUtils.$secondary-text;
  }

  &:hover {
    background-color: cssUtils.$bg-sunk;
  }

  .crayon-list-item-content {
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: cssUtils.$spacing-3xs;

    &-action-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: cssUtils.$spacing-2xs;
    }
  }

  .crayon-list-item-title {
    @include cssUtils.typography("primary", "default");
    color: cssUtils.$primary-text;
  }

  .crayon-list-item-subtitle {
    @include cssUtils.typography("primary", "default");
    color: cssUtils.$secondary-text;
  }
}
