@use "sass:map";
@use "../../cssUtils" as cssUtils;

.crayon-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  gap: map.get(cssUtils.$spacing, "xs");
  cursor: pointer;
  transition: all 0.2s ease;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  // variants
  &-primary {
    background-color: map.get(cssUtils.$colors, "fills", "brand-el");
    border-color: map.get(cssUtils.$colors, "strokes", "default");
    color: map.get(cssUtils.$colors, "text", "brand");
  }

  &-secondary {
    background-color: map.get(cssUtils.$colors, "fills", "Container");
    border-color: map.get(cssUtils.$colors, "strokes", "default");
    color: map.get(cssUtils.$colors, "text", "primary");
  }

  &-tertiary {
    background-color: transparent;
    border-color: transparent;
    color: map.get(cssUtils.$colors, "text", "primary");
  }

  // sizes
  &-extra-small {
    width: 20px;
    height: 20px;
    font-size: 12px;
    padding: map.get(cssUtils.$spacing, "3xs");
    box-shadow: map.get(cssUtils.$shadow, "s");
  }

  &-small {
    width: 28px;
    height: 28px;
    font-size: 14px;
    padding: map.get(cssUtils.$spacing, "xs");
    box-shadow: map.get(cssUtils.$shadow, "s");
  }

  &-medium {
    width: 32px;
    height: 32px;
    padding: map.get(cssUtils.$spacing, "s");
    box-shadow: map.get(cssUtils.$shadow, "m");
    &-size {
      font-size: 16px;
    }
  }

  &-large {
    width: 36px;
    height: 36px;
    font-size: 16px;
    padding: map.get(cssUtils.$spacing, "m");
    box-shadow: map.get(cssUtils.$shadow, "l");
  }

  // shapes
  &-square {
    border-radius: map.get(cssUtils.$radius, "s");
  }

  &-circle {
    border-radius: map.get(cssUtils.$radius, "full");
  }
}
