@use "../../cssUtils" as cssUtils;

.crayon-switch-item-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: cssUtils.$spacing-2xs;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  padding-top: cssUtils.$spacing-3xs;
  padding-bottom: cssUtils.$spacing-3xs;
  padding-left: cssUtils.$spacing-0;
  padding-right: cssUtils.$spacing-xs;
}

.crayon-switch-item-root {
  position: relative;
  display: inline-block;
  height: 15px;
  width: 24px;
  cursor: pointer;
  border-radius: cssUtils.$rounded-full;
  padding: cssUtils.$spacing-3xs;
  border: 1px solid cssUtils.$stroke-default;
  background-color: cssUtils.$bg-fill;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:not([data-disabled], [data-state="checked"]):hover {
    background-color: cssUtils.$bg-sunk;
  }

  &[data-state="checked"] {
    background-color: cssUtils.$bg-brand-el;
  }

  &[data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.crayon-switch-item-thumb {
  position: absolute;
  display: block;
  height: 10px;
  width: 10px;
  border-radius: cssUtils.$rounded-full;
  border: 1px solid cssUtils.$stroke-default;
  background-color: cssUtils.$bg-container;
  transform: translateY(-50%) translateX(-1px);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  box-shadow: cssUtils.$shadow-s;

  &[data-state="checked"] {
    transform: translateY(-50%) translateX(7.5px);
    border-color: cssUtils.$stroke-interactive-el;
  }
}

.crayon-switch-item-label {
  flex: 1;
  @include cssUtils.typography(primary, default);
  color: cssUtils.$primary-text;
  &:disabled {
    color: cssUtils.$disabled-text;
  }
}
