@use "../../../cssUtils" as cssUtils;

/* Base styles for all calendar components range or single */
/* ------------------------------------------------------------ */

.crayon-calendar-root {
  @include cssUtils.typography(primary, default);
  background-color: cssUtils.$bg-container;
  padding: cssUtils.$spacing-l;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: cssUtils.$rounded-xl;
}

.crayon-calendar-nav {
  &-mobile {
    gap: cssUtils.$spacing-s;
  }
  &-fullscreen {
    gap: cssUtils.$spacing-m;
  }
  &-tray {
    gap: cssUtils.$spacing-m;
  }
  &-copilot {
    gap: cssUtils.$spacing-m;
  }
}

.crayon-calendar-dropdowns {
  &-mobile {
    gap: cssUtils.$spacing-2xs;
  }
  &-fullscreen {
    gap: cssUtils.$spacing-s;
  }
  &-tray {
    gap: cssUtils.$spacing-s;
  }
  &-copilot {
    gap: cssUtils.$spacing-s;
  }
  &-copilot {
    gap: cssUtils.$spacing-s;
  }
}

.crayon-calendar-month-grid {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  max-width: 308px;
}

.crayon-calendar-button-next {
  display: none;
}

.crayon-calendar-button-previous {
  display: none;
}

.crayon-calendar-today {
  &[data-today]:not([aria-selected]) {
    background-color: cssUtils.$bg-sunk;
    border-radius: cssUtils.$rounded-m;
  }
}

.crayon-calendar-disabled {
  cursor: not-allowed;
  color: cssUtils.$disabled-text;
}

.crayon-calendar-weekdays {
  color: cssUtils.$primary-text;
}

.crayon-calendar-chevron {
  fill: cssUtils.$bg-brand-el;
}

.crayon-calendar-month {
  color: cssUtils.$primary-text;
}

.crayon-calendar-month-dropdown {
  cursor: pointer;
}

.crayon-calendar-year-dropdown {
  cursor: pointer;
}

.crayon-calendar-footer {
  color: cssUtils.$primary-text;
  @include cssUtils.typography(primary, default);
}

/* Base styles for all calendar components single */
/* ------------------------------------------------------------ */

.crayon-calendar-single-day-button {
  cursor: pointer;
  background: transparent;
  border: 1px solid transparent;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

.crayon-calendar-single-day {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

.crayon-calendar-single-day-selected {
  background: cssUtils.$bg-brand-el;
  color: cssUtils.$brand-text;
  border-radius: cssUtils.$rounded-m;
}

/* Base styles for all calendar components range */
/* ------------------------------------------------------------ */

.crayon-calendar-range-start {
  color: cssUtils.$brand-text;
  background: cssUtils.$bg-brand-el;
  border-top-left-radius: cssUtils.$rounded-m;
  border-bottom-left-radius: cssUtils.$rounded-m;
}

.crayon-calendar-range-middle {
  background: cssUtils.$bg-sunk;
}

.crayon-calendar-range-end {
  color: cssUtils.$brand-text;
  background: cssUtils.$bg-brand-el;
  border-top-right-radius: cssUtils.$rounded-m;
  border-bottom-right-radius: cssUtils.$rounded-m;
}

.crayon-calendar-range-day-button {
  cursor: pointer;
  background: transparent;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

.crayon-calendar-range-day {
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  aspect-ratio: 1/1;
}
