@use "sass:map";
@use "../../../cssUtils" as cssUtils;

/* Base styles for all calendar components range or single */
/* ------------------------------------------------------------ */

.crayon-calendar-root {
  @include cssUtils.typography(primary, default);
  background-color: map.get(cssUtils.$colors, "fills", "container");
  padding: map.get(cssUtils.$spacing, "l");
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: map.get(cssUtils.$radius, "xl");
}

.crayon-calendar-nav {
  &-mobile {
    gap: map.get(cssUtils.$spacing, "s");
  }
  &-fullscreen {
    gap: map.get(cssUtils.$spacing, "m");
  }
  &-tray {
    gap: map.get(cssUtils.$spacing, "m");
  }
  &-copilot {
    gap: map.get(cssUtils.$spacing, "m");
  }
}

.crayon-calendar-dropdowns {
  &-mobile {
    gap: map.get(cssUtils.$spacing, "2xs");
  }
  &-fullscreen {
    gap: map.get(cssUtils.$spacing, "s");
  }
  &-tray {
    gap: map.get(cssUtils.$spacing, "s");
  }
  &-copilot {
    gap: map.get(cssUtils.$spacing, "s");
  }
  &-copilot {
    gap: map.get(cssUtils.$spacing, "s");
  }
}

.crayon-calendar-month-grid {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  max-width: 308px;
}

.crayon-calendar-button-next {
  display: none;
}

.crayon-calendar-button-previous {
  display: none;
}

.crayon-calendar-today {
  &[data-today]:not([aria-selected]) {
    background-color: map.get(cssUtils.$colors, "fills", "sunk");
    border-radius: map.get(cssUtils.$radius, "m");
  }
}

.crayon-calendar-disabled {
  cursor: not-allowed;
  color: map.get(cssUtils.$colors, "text", "disabled");
}

.crayon-calendar-weekdays {
  color: map.get(cssUtils.$colors, "text", "primary");
}

.crayon-calendar-chevron {
  fill: map.get(cssUtils.$colors, "fills", "brand-el");
}

.crayon-calendar-month {
  color: map.get(cssUtils.$colors, "text", "primary");
}

.crayon-calendar-month-dropdown {
  cursor: pointer;
}

.crayon-calendar-year-dropdown {
  cursor: pointer;
}

.crayon-calendar-footer {
  color: map.get(cssUtils.$colors, "text", "primary");
  @include cssUtils.typography(primary, default);
}

/* Base styles for all calendar components single */
/* ------------------------------------------------------------ */

.crayon-calendar-single-day-button {
  cursor: pointer;
  background: transparent;
  border: 1px solid transparent;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

.crayon-calendar-single-day {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

.crayon-calendar-single-day-selected {
  background: map.get(cssUtils.$colors, "fills", "brand-el");
  color: map.get(cssUtils.$colors, "text", "brand");
  border-radius: map.get(cssUtils.$radius, "m");
}

/* Base styles for all calendar components range */
/* ------------------------------------------------------------ */

.crayon-calendar-range-start {
  color: map.get(cssUtils.$colors, "text", "brand");
  background: map.get(cssUtils.$colors, "fills", "brand-el");
  border-top-left-radius: map.get(cssUtils.$radius, "m");
  border-bottom-left-radius: map.get(cssUtils.$radius, "m");
}

.crayon-calendar-range-middle {
  background: map.get(cssUtils.$colors, "fills", "sunk");
}

.crayon-calendar-range-end {
  color: map.get(cssUtils.$colors, "text", "brand");
  background: map.get(cssUtils.$colors, "fills", "brand-el");
  border-top-right-radius: map.get(cssUtils.$radius, "m");
  border-bottom-right-radius: map.get(cssUtils.$radius, "m");
}

.crayon-calendar-range-day-button {
  cursor: pointer;
  background: transparent;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

.crayon-calendar-range-day {
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  aspect-ratio: 1/1;
}
