@use "../../cssUtils" as cssUtils;

.crayon-radio-item-container {
  display: flex;
  align-items: flex-start;
  gap: cssUtils.$spacing-s;
  padding: cssUtils.$spacing-3xs cssUtils.$spacing-0;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}

.crayon-radio-item-root {
  box-sizing: border-box;
  flex-shrink: 0;
  border-radius: cssUtils.$rounded-full;
  border: none;
  height: 16px;
  width: 16px;
  cursor: pointer;
  background-color: transparent;
  margin-top: cssUtils.$spacing-2xs;

  &[data-state] {
    // This makes the root element a styling context for children
    position: relative;
  }

  // Disabled state
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.crayon-radio-item-svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// First path - circle between border and center
.crayon-radio-item-svg-path {
  .crayon-radio-item-root[data-state="unchecked"] & {
    fill: cssUtils.$bg-container;

    .crayon-radio-item-root:hover:not(:disabled) & {
      fill: cssUtils.$bg-container;
    }
  }

  .crayon-radio-item-root[data-state="checked"] & {
    fill: cssUtils.$interactive-accent;
  }
}

// Border path
.crayon-radio-item-svg-border {
  .crayon-radio-item-root[data-state="unchecked"] & {
    stroke: cssUtils.$stroke-interactive-el;
  }

  .crayon-radio-item-root[data-state="checked"] & {
    stroke: cssUtils.$stroke-accent;
  }
}

// Inner circle path
.crayon-radio-item-svg-inner {
  .crayon-radio-item-root[data-state="checked"] & {
    fill: cssUtils.$bg-container;
  }

  .crayon-radio-item-root[data-state="unchecked"] & {
    fill: cssUtils.$bg-container;
  }

  .crayon-radio-item-root[data-state="unchecked"]:hover:not(:disabled) & {
    fill: cssUtils.$stroke-interactive-el;
  }
}
.crayon-radio-item-label {
  flex: 1;
  @include cssUtils.typography(primary, default);
  color: cssUtils.$primary-text;
  cursor: pointer;
  &:disabled {
    color: cssUtils.$disabled-text;
    cursor: not-allowed;
  }
}

.crayon-radio-item-description {
  @include cssUtils.typography(body, default);
  color: cssUtils.$secondary-text;
}
