@use "sass:map";
@use "../../cssUtils" as cssUtils;

.crayon-radio-group {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: map.get(cssUtils.$spacing, "s");
  border: 1px solid;
  border-radius: map.get(cssUtils.$radius, "m");

  &-clear {
    border-color: transparent;
    background-color: transparent;
    padding: map.get(cssUtils.$spacing, "0");
  }

  &-card {
    border-color: map.get(cssUtils.$colors, "strokes", "default");
    padding: map.get(cssUtils.$spacing, "l");
  }

  &-sunk {
    border-color: map.get(cssUtils.$colors, "strokes", "default");
    background-color: map.get(cssUtils.$colors, "fills", "sunk");
    padding: map.get(cssUtils.$spacing, "l");
  }
}
