@use "../../../../cssUtils" as cssUtils;

.crayon-chart-legend-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: cssUtils.$spacing-2xs;
}

.crayon-chart-legend-axis-label-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: cssUtils.$spacing-m;
  flex-wrap: wrap;
}

.crayon-chart-legend-axis-label {
  @include cssUtils.typography(label, extra-small);
  color: cssUtils.$secondary-text;

  &-text {
    color: cssUtils.$primary-text;
  }
}

.crayon-chart-legend {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: cssUtils.$spacing-m;
  text-transform: capitalize;
  flex-wrap: wrap;

  &--bottom {
    padding-top: cssUtils.$spacing-m;
  }

  &--collapsed {
    flex-wrap: nowrap;
    overflow: hidden;
  }

  &--expanded {
    flex-wrap: wrap;
  }

  &-item {
    display: flex;
    align-items: center;
    gap: cssUtils.$spacing-xs;

    svg {
      height: 10px;
      width: 10px;
      color: cssUtils.$primary-text;
    }

    &-indicator {
      height: 10px;
      width: 10px;
      flex-shrink: 0;
      border-radius: cssUtils.$rounded-2xs;
      background-color: var(--color-bg);
    }

    &-label {
      @include cssUtils.typography(label, extra-small);
      color: cssUtils.$primary-text;
    }
  }

  &-toggle-button {
    @include cssUtils.typography(label, extra-small);
    color: cssUtils.$primary-text;
    padding-left: cssUtils.$spacing-2xs;
    padding-right: cssUtils.$spacing-3xs;

    &-icon {
      width: 1em;
      height: 1em;
      color: cssUtils.$primary-text;
    }
  }
}
