@use "../../../../cssUtils" as cssUtils;

/*
    Floating Date Picker Renderer Container Styles
*/
/*------------------------------------------------------------------------------------------------*/

.crayon-date-picker-renderer-floating-container {
  position: relative;
}

/*
    Floating Date Picker Renderer Input Styles
*/
/*------------------------------------------------------------------------------------------------*/

.crayon-date-picker-renderer-floating-input-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid cssUtils.$stroke-default;
  border-radius: cssUtils.$rounded-xs;
  background: cssUtils.$bg-container;
  padding: cssUtils.$spacing-xs cssUtils.$spacing-s;
  @include cssUtils.typography(primary, default);
  color: cssUtils.$primary-text;
  cursor: pointer;
  box-shadow: cssUtils.$shadow-s;
  width: 100%;

  &:disabled {
    color: cssUtils.$disabled-text;
    cursor: not-allowed;
  }

  &-open {
    border-color: cssUtils.$stroke-interactive-el-selected;
    background-color: cssUtils.$bg-container-hover;
  }

  &-not-open {
    &:hover {
      border-color: cssUtils.$stroke-default;
      background-color: cssUtils.$bg-container-hover;
    }
  }

  &-has-no-selected-date {
    color: cssUtils.$secondary-text;
  }
}

.crayon-date-picker-renderer-floating-input-container-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.crayon-date-picker-renderer-floating-input-container-icon {
  transform: rotate(180deg);
}

/*
    Floating Date Picker Renderer Menu Styles
*/
/*------------------------------------------------------------------------------------------------*/

.crayon-date-picker-renderer-floating-reference {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.crayon-date-picker-renderer-floating-content {
  z-index: 50;
}

.crayon-date-picker-renderer-floating-menu {
  background: cssUtils.$bg-container;
  border-radius: cssUtils.$rounded-m;
  box-shadow: cssUtils.$shadow-s;
}
