@use "sass:map";
@use "../../../../cssUtils" as cssUtils;

/*
    Floating Date Picker Renderer Container Styles
*/
/*------------------------------------------------------------------------------------------------*/

.crayon-date-picker-renderer-floating-container {
  position: relative;
}

/*
    Floating Date Picker Renderer Input Styles
*/
/*------------------------------------------------------------------------------------------------*/

.crayon-date-picker-renderer-floating-input-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid map.get(cssUtils.$colors, "strokes", "default");
  border-radius: map.get(cssUtils.$radius, "xs");
  background: map.get(cssUtils.$colors, "fills", "container");
  padding: map.get(cssUtils.$spacing, "xs") map.get(cssUtils.$spacing, "s");
  @include cssUtils.typography(primary, default);
  color: map.get(cssUtils.$colors, "text", "primary");
  cursor: pointer;
  box-shadow: map.get(cssUtils.$shadow, "s");
  width: 100%;

  &:disabled {
    color: map.get(cssUtils.$colors, "text", "disabled");
    cursor: not-allowed;
  }

  &-open {
    border-color: map.get(cssUtils.$colors, "strokes", "interactive-el-selected");
    background-color: map.get(cssUtils.$colors, "fills", "container-hover");
  }

  &-not-open {
    &:hover {
      border-color: map.get(cssUtils.$colors, "strokes", "default");
      background-color: map.get(cssUtils.$colors, "fills", "container-hover");
    }
  }

  &-has-no-selected-date {
    color: map.get(cssUtils.$colors, "text", "secondary");
  }
}

.crayon-date-picker-renderer-floating-input-container-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.crayon-date-picker-renderer-floating-input-container-icon {
  transform: rotate(180deg);
}

/*
    Floating Date Picker Renderer Menu Styles
*/
/*------------------------------------------------------------------------------------------------*/

.crayon-date-picker-renderer-floating-reference {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.crayon-date-picker-renderer-floating-content {
  z-index: 50;
}

.crayon-date-picker-renderer-floating-menu {
  background: map.get(cssUtils.$colors, "fills", "container");
  border-radius: map.get(cssUtils.$radius, "m");
  box-shadow: map.get(cssUtils.$shadow, "s");
}
