@use "../../cssUtils" as cssUtils;

.crayon-button-base {
  box-sizing: border-box;
  @include cssUtils.typography(body, default);
  padding: cssUtils.$spacing-m;
  border-radius: cssUtils.$rounded-m;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  gap: cssUtils.$spacing-2xs;
  align-items: center;
  & svg {
    height: 1rem;
    width: 1rem;
  }

  // Primary variant
  &-primary {
    background-color: cssUtils.$bg-brand-el;
    color: cssUtils.$brand-text;
    &:hover {
      background-color: cssUtils.$bg-brand-el-hover;
    }
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  // Secondary variant
  &-secondary {
    background-color: cssUtils.$bg-container;
    color: cssUtils.$primary-text;
    border-color: cssUtils.$stroke-default;
    &:hover {
      background-color: cssUtils.$bg-container-hover;
    }
    &:disabled {
      color: cssUtils.$disabled-text;
      border-color: cssUtils.$stroke-default;
      cursor: not-allowed;
    }
  }
  // Tertiary variant
  &-tertiary {
    background-color: transparent;
    color: cssUtils.$primary-text;
    &:hover {
      background-color: cssUtils.$bg-container-hover;
    }
    &:disabled {
      color: cssUtils.$disabled-text;
      cursor: not-allowed;
    }
  }

  // Sizes
  &-small {
    padding: cssUtils.$spacing-2xs cssUtils.$spacing-xs;
  }

  &-medium {
    padding: cssUtils.$spacing-xs cssUtils.$spacing-m;
  }

  &-large {
    padding: cssUtils.$spacing-s cssUtils.$spacing-m;
  }
}
