:root {
  --background-website: #0F0F0F;
  --borders: rgba(255,255,255,0.08);
  --border-primary: rgba(255,255,255,0.32);
  --primary-text: #FFFFFF;
  --secondary-text: rgba(255,255,255,0.4);
  --elevated-container:rgba(0,0,0,0.24);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-inter) , Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}