@use "../../cssUtils" as cssUtils;

/* Code Block Styles */
.crayon-code-block-wrapper {
  position: relative;

  &:hover {
    .crayon-code-block-copy-button {
      opacity: 1;
    }
  }

  .crayon-code-block-copy-button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    &.crayon-code-block-copy-button-copied {
      color: cssUtils.$success-primary-text;
      background-color: cssUtils.$bg-success;
    }
  }

  .crayon-code-block-syntax-highlighter {
    margin: 0 !important;
    border-radius: 0.5rem;
  }
}
