@use "../../cssUtils" as cssUtils;

.crayon-gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: cssUtils.$rounded-m;
  overflow: hidden;
  position: relative;

  &__grid {
    display: grid;
    grid-gap: cssUtils.$spacing-s;
    width: 100%;
  }

  // Layout variations
  &--single &__grid {
    grid-template-columns: 1fr;
  }

  &--double &__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  &--triple &__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .crayon-gallery__image:first-child {
      grid-row: 1 / -1;
    }
  }

  &--quad &__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  &--default &__grid {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .crayon-gallery__image:first-child {
      grid-row: 1 / -1;
    }
  }

  &__image {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
      aspect-ratio: 1/1;

      &:hover {
        transform: scale(1.05);
      }
    }

    &--main {
      img {
        height: 100%;
      }
    }
  }

  &__show-all-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

  // Modal styles
  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease;
    backdrop-filter: blur(3px);
    background-color: cssUtils.$bg-overlay;
  }

  &__modal-content {
    position: relative;
    width: 100%;
    max-width: 720px;
    max-height: 560px;
    border: 1px solid cssUtils.$stroke-default;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: cssUtils.$bg-container;
    border-radius: cssUtils.$rounded-xl;
    display: flex;
    flex-direction: column;
    gap: cssUtils.$spacing-xl;
    padding-top: cssUtils.$spacing-xl;
    padding-bottom: cssUtils.$spacing-xl;
  }

  &__modal-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: cssUtils.$spacing-xl;
    padding-right: cssUtils.$spacing-xl;
  }

  &__modal-heading {
    @include cssUtils.typography("title", "medium");
    color: cssUtils.$primary-text;
  }

  &__modal-main {
    width: 100%;
    height: 312px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: cssUtils.$spacing-xl;
    padding-right: cssUtils.$spacing-xl;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      border-radius: cssUtils.$rounded-s;
    }
  }

  &__modal-carousel-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__modal-carousel {
    width: 100%;
    display: flex;
    gap: cssUtils.$spacing-s;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding: cssUtils.$spacing-s 0;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    &--left {
      left: 24px;
    }

    &--right {
      right: 24px;
    }
  }

  &__modal-thumbnail {
    flex: 1;
    height: 112px;
    min-width: 170px;
    cursor: pointer;
    opacity: 0.6;
    border-radius: cssUtils.$rounded-s;
    overflow: hidden;
    transition: opacity 0.2s ease;
    box-sizing: border-box;

    &:hover {
      opacity: 0.8;
    }

    &--active {
      opacity: 1;
      border: 1px solid cssUtils.$stroke-interactive-el-selected;
      border-radius: cssUtils.$rounded-s;
      box-sizing: border-box;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // Responsive adjustments
  @media (max-width: 768px) {
    &--default &__grid {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "img1 img1 img1  img2 img2 img2 "
        "img3 img3 img4  img4 img5 img5";

      .crayon-gallery__image {
        &:nth-child(1) {
          grid-area: img1;
        }
        &:nth-child(2) {
          grid-area: img2;
        }
        &:nth-child(3) {
          grid-area: img3;
        }
        &:nth-child(4) {
          grid-area: img4;
        }
        &:nth-child(5) {
          grid-area: img5;
        }
      }
    }
    &--triple &__grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "img1 img1"
        "img2 img3";

      .crayon-gallery__image {
        &:nth-child(1) {
          grid-area: img1;
        }
        &:nth-child(2) {
          grid-area: img2;
        }
        &:nth-child(3) {
          grid-area: img3;
        }
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
