.navbarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position:fixed;
  z-index: 5;
  align-items: center;
  max-width: 1200px;
  width: 95%;
  padding: 12px 12px 12px 20px;
  background-color: var(--elevated-container);
  border: 1px solid var(--borders);
  border-radius: 9999px;
  margin: 0 16px;
  font-family: 'Inter', sans-serif;
  font-size: 1.125rem;
  backdrop-filter: blur(32px);
}

.logo {
  display: flex;
  align-items: center;
  height: fit-content;
  gap: 4px;
}

.thesysT{
  height: 24px;
  width: 24px;
}

.logoSlash {
  color: var(--secondary-text);
  font-size: 1.5rem;
  font-weight: 300;
  opacity: 0.5;
  margin-left: -2px;
}

.buttons {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.navButton {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  border-radius: 9999px;
  border: 1px solid var(--border-primary);
  background-color: rgba(255, 255, 255, 0.12);
  color: var(--primary-text);
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: 'Inter', sans-serif;
  font-size: 1.125rem;
}

.docButton {
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--primary-text);
  cursor: pointer;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.navButton:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.buttonIcon {
  width: 20px;
  height: 20px;
} 

@media screen and (max-width: 720px) {
    #mobileDisappear{
        display: none;
    }

    .navButton{
        padding: 8px 14px;
        font-size: 0.9rem;
    }
}