.primaryButton {
  padding: 12px 16px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 9999px;
  font-size: 1.125rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.primaryButton:hover {
  background-color: rgba(255, 255, 255, 0.9);
} 

@media screen and (max-width: 720px) {
    .primaryButton {
        padding: 10px 16px;
        font-size: 1rem;
      }
      
}

@media screen and (max-width: 372px) {
    .primaryButton {
        padding: 8px 14px;
        font-size: 0.9rem;
      }
      
}