@use "../../cssUtils" as cssUtils;

.crayon-shell-mobile-header {
  display: none;

  .crayon-shell-container--mobile & {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: cssUtils.$spacing-m cssUtils.$spacing-l;
    background-color: cssUtils.$bg-container;
  }
}

.crayon-shell-mobile-header-logo-container {
  display: flex;
  align-items: center;
  gap: cssUtils.$spacing-m;
  @include cssUtils.typography(title, medium);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.crayon-shell-mobile-header-logo {
  width: 32px;
  height: 32px;
  border-radius: cssUtils.$rounded-m;
}

.crayon-shell-mobile-header-agent-name {
  @include cssUtils.typography(title, medium);
  color: cssUtils.$primary-text;
}

.crayon-shell-mobile-header-actions {
  display: flex;
  align-items: center;
  gap: cssUtils.$spacing-s;
}
