@use "sass:map";
@use "../../cssUtils" as cssUtils;

.crayon-shell-mobile-header {
  display: none;

  .crayon-shell-container--mobile & {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: map.get(cssUtils.$spacing, "m") map.get(cssUtils.$spacing, "l");
    background-color: map.get(cssUtils.$colors, fills, container);
  }
}

.crayon-shell-mobile-header-logo-container {
  display: flex;
  align-items: center;
  gap: map.get(cssUtils.$spacing, "m");
  @include cssUtils.typography(title, medium);
}

.crayon-shell-mobile-header-logo {
  width: 32px;
  height: 32px;
  border-radius: map.get(cssUtils.$radius, "m");
}
