@use "../../cssUtils" as cssUtils;
@use "sass:map";
@use "./sidebar.scss";
@use "./threadlist.scss";
@use "./thread.scss";
@use "./mobileHeader.scss";

.crayon-shell-container {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: map.get(cssUtils.$spacing, "m");
  overflow: hidden;

  background: map.get(cssUtils.$colors, fills, "background");
  box-sizing: border-box;
  & * {
    box-sizing: border-box;
  }

  &.crayon-shell-container--mobile {
    padding: 0;
  }
}

.crayon-shell-new-chat-button {
  width: 100%;
  justify-content: space-between;
}
