@use "../../cssUtils" as cssUtils;
@use "sass:map";

.crayon-shell-thread-container {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

$center-align-spacing: calc(32px + map.get(cssUtils.$spacing, "s"));

.crayon-shell-thread-scroll-area {
  width: 100%;
  flex: 1;
  overflow: auto;
  padding: map.get(cssUtils.$spacing, "m") $center-align-spacing map.get(cssUtils.$spacing, "xl");

  .crayon-shell-container--mobile & {
    padding: map.get(cssUtils.$spacing, "l");
  }
}

.crayon-shell-thread-messages {
  max-width: 776px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: calc(2 * map.get(cssUtils.$spacing, "l"));
}

.crayon-shell-thread-message-assistant {
  width: 100%;
  display: flex;
  gap: map.get(cssUtils.$spacing, "s");
  padding-right: $center-align-spacing;
  overflow: hidden;

  .crayon-shell-container--mobile & {
    padding: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: map.get(cssUtils.$spacing, "s");
    overflow: hidden;
    overflow-wrap: break-word;
    flex-grow: 1;
  }

  &__text {
    @include cssUtils.typography(primary, default);
    &:first-child {
      margin-top: map.get(cssUtils.$spacing, "xs");
    }
  }

  &__logo {
    width: 32px;
    height: 32px;
    border-radius: map.get(cssUtils.$radius, "m");
  }
}

.crayon-shell-thread-message-user {
  display: flex;
  justify-content: flex-end;
  padding: 0 $center-align-spacing;

  .crayon-shell-container--mobile & {
    padding: 0;
  }

  &__content {
    @include cssUtils.typography(primary, default);
    padding: map.get(cssUtils.$spacing, "m") map.get(cssUtils.$spacing, "l");
    background-color: map.get(cssUtils.$colors, "fills", "brand-el");
    color: map.get(cssUtils.$colors, "text", "primary");
    border-radius: map.get(cssUtils.$radius, "2xl");
    overflow-wrap: break-word;
    max-width: 100%;
  }
}

.crayon-shell-thread-composer {
  max-width: 776px;
  width: 100%;
  margin: 0 auto map.get(cssUtils.$spacing, "m");
  padding: 0 $center-align-spacing;

  .crayon-shell-container--mobile & {
    margin: 0;
    padding: map.get(cssUtils.$spacing, "m") 14px;
    background-color: map.get(cssUtils.$colors, fills, container);
  }

  &__input-wrapper {
    border: 1.256px solid map.get(cssUtils.$colors, strokes, default);
    border-radius: map.get(cssUtils.$radius, "xl");
    display: flex;
    align-items: flex-end;
    gap: map.get(cssUtils.$spacing, "s");
    padding: map.get(cssUtils.$spacing, "m");
  }

  &__input {
    flex-grow: 1;
    padding: 0;
    resize: none;
    margin: auto 0px;
    max-height: 154px;
    outline: none;
    border: none;
    background: transparent;
    overflow: hidden;
    @include cssUtils.typography(primary, default);
    color: map.get(cssUtils.$colors, text, "primary");
    &::placeholder {
      color: map.get(cssUtils.$colors, text, "disabled");
    }
  }
}
