@use "../../cssUtils" as cssUtils;

.crayon-shell-thread-list {
  display: flex;
  flex-direction: column;
  gap: cssUtils.$spacing-s;
  overflow: auto;
}

.crayon-shell-thread-list-group {
  display: flex;
  padding-left: cssUtils.$spacing-xs;
  color: cssUtils.$secondary-text;
  @include cssUtils.typography(label, default);
}

.crayon-shell-thread-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: cssUtils.$rounded-s;
  border: 1px solid transparent;

  &--selected {
    background-color: cssUtils.$bg-sunk;
    border-color: cssUtils.$stroke-default;
  }

  &:hover {
    .crayon-shell-thread-button-dropdown-trigger {
      opacity: 1;
    }
  }
}

.crayon-shell-thread-button-title {
  @include cssUtils.button-reset;
  @include cssUtils.typography(primary, default);
  color: cssUtils.$primary-text;
  padding: cssUtils.$spacing-2xs cssUtils.$spacing-xs;
  width: 100%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.crayon-shell-thread-button-dropdown-trigger {
  @include cssUtils.button-reset;
  outline: none;
  @include cssUtils.typography(primary, default);
  color: cssUtils.$primary-text;
  padding: cssUtils.$spacing-2xs cssUtils.$spacing-xs;
  flex-shrink: 0;
  min-height: 28px;
  cursor: pointer;
  opacity: 0;

  .crayon-shell-container--mobile & {
    opacity: 1;
  }

  &[data-state="open"] {
    opacity: 1;
  }
}

.crayon-shell-thread-button-dropdown-menu {
  display: flex;
  flex-direction: column;
  padding: cssUtils.$spacing-xs;
  border: 1px solid cssUtils.$stroke-default;
  border-radius: cssUtils.$rounded-m;
  background-color: cssUtils.$bg-container;
  z-index: 9999;
}

.crayon-shell-thread-button-dropdown-menu-item {
  @include cssUtils.button-reset;
  @include cssUtils.typography(primary, default);
  outline: none;
  color: cssUtils.$primary-text;
  padding: cssUtils.$spacing-2xs cssUtils.$spacing-xs;
  display: flex;
  align-items: center;
  gap: cssUtils.$spacing-2xs;
  cursor: pointer;
}

.crayon-shell-thread-button-dropdown-menu-item-icon {
  color: cssUtils.$secondary-text;
}
