@use "../../cssUtils" as cssUtils;

.crayon-shell-thread-list {
  display: flex;
  flex-direction: column;
  gap: cssUtils.$spacing-s;
  overflow: auto;
}

.crayon-shell-thread-list-group {
  display: flex;
  padding-left: cssUtils.$spacing-xs;
  color: cssUtils.$secondary-text;
  @include cssUtils.typography(label, default);
}

.crayon-shell-thread-button {
  width: 100%;
  flex-shrink: 0;
  @include cssUtils.button-reset;
  @include cssUtils.typography(primary, default);
  color: cssUtils.$primary-text;
  padding: cssUtils.$spacing-2xs cssUtils.$spacing-xs;
  border-radius: cssUtils.$rounded-s;
  border: 1px solid transparent;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &--selected {
    background-color: cssUtils.$bg-sunk;
    border-color: cssUtils.$stroke-default;
  }
}
