@use "sass:map";
@use "../../cssUtils" as cssUtils;

.crayon-icon-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  gap: map.get(cssUtils.$spacing, "xs");
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  //icon
  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // variants
  &-primary {
    background-color: map.get(cssUtils.$colors, "fills", "brand-el");
    border-color: map.get(cssUtils.$colors, "strokes", "default");
    color: map.get(cssUtils.$colors, "text", "brand");
  }

  &-secondary {
    background-color: map.get(cssUtils.$colors, "fills", "Container");
    border-color: map.get(cssUtils.$colors, "strokes", "default");
    color: map.get(cssUtils.$colors, "text", "primary");
  }

  &-tertiary {
    background-color: transparent;
    border-color: transparent;
    color: map.get(cssUtils.$colors, "text", "primary");
  }

  // sizes
  &-extra-small {
    width: 20px;
    height: 20px;
    box-shadow: map.get(cssUtils.$shadow, "s");
    & .crayon-icon-button-icon {
      height: 14px;
      width: 14px;
    }
  }

  &-small {
    width: 28px;
    height: 28px;
    box-shadow: map.get(cssUtils.$shadow, "s");
    & .crayon-icon-button-icon {
      height: 14px;
      width: 14px;
    }
  }

  &-medium {
    width: 32px;
    height: 32px;
    box-shadow: map.get(cssUtils.$shadow, "m");
    & .crayon-icon-button-icon {
      height: 16px;
      width: 16px;
    }
  }

  &-large {
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    font-size: 16px;
    box-shadow: map.get(cssUtils.$shadow, "l");
    & .crayon-icon-button-icon {
      height: 16px;
      width: 16px;
    }
  }

  // shapes
  &-square {
    border-radius: map.get(cssUtils.$radius, "s");
  }

  &-circle {
    border-radius: map.get(cssUtils.$radius, "full");
  }
}
