@use "../../cssUtils" as cssUtils;

.crayon-icon-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  gap: cssUtils.$spacing-xs;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  //icon
  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // variants
  &-primary {
    background-color: cssUtils.$bg-brand-el;
    border-color: cssUtils.$stroke-default;
    color: cssUtils.$brand-text;
  }

  &-secondary {
    background-color: cssUtils.$bg-container;
    border-color: cssUtils.$stroke-default;
    color: cssUtils.$primary-text;
  }

  &-tertiary {
    background-color: transparent;
    border-color: transparent;
    color: cssUtils.$primary-text;
  }

  // sizes
  &-extra-small {
    width: 20px;
    height: 20px;
    box-shadow: cssUtils.$shadow-s;
    & .crayon-icon-button-icon {
      height: 14px;
      width: 14px;
    }
  }

  &-small {
    width: 28px;
    height: 28px;
    box-shadow: cssUtils.$shadow-s;
    & .crayon-icon-button-icon {
      height: 14px;
      width: 14px;
    }
  }

  &-medium {
    width: 32px;
    height: 32px;
    box-shadow: cssUtils.$shadow-m;
    & .crayon-icon-button-icon {
      height: 16px;
      width: 16px;
    }
  }

  &-large {
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    font-size: 16px;
    box-shadow: cssUtils.$shadow-l;
    & .crayon-icon-button-icon {
      height: 16px;
      width: 16px;
    }
  }

  // shapes
  &-square {
    border-radius: cssUtils.$rounded-s;
  }

  &-circle {
    border-radius: cssUtils.$rounded-full;
  }
}
