@use "../../cssUtils" as cssUtils;

.crayon-follow-up-item {
  @include cssUtils.button-reset;
  @include cssUtils.typography(primary, default);
  box-sizing: border-box;
  padding: cssUtils.$spacing-s cssUtils.$spacing-0;
  border-bottom: 1px solid cssUtils.$stroke-interactive-el;
  background-color: transparent;
  gap: cssUtils.$spacing-s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: cssUtils.$primary-text;
  cursor: pointer;

  &:last-child {
    border-bottom: none;
  }
}
