@use "../../cssUtils" as cssUtils;

.crayon-follow-up-item {
  @include cssUtils.button-reset;
  @include cssUtils.typography(primary, default);
  box-sizing: border-box;
  padding: cssUtils.$spacing-xs cssUtils.$spacing-0;
  border-bottom: 1px solid cssUtils.$stroke-default;
  background-color: transparent;
  gap: cssUtils.$spacing-xs;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: cssUtils.$primary-text;
  cursor: pointer;
}
