@use "../../cssUtils" as cssUtils;

.crayon-checkbox-item-container {
  display: flex;
  align-items: flex-start;
  gap: cssUtils.$spacing-s;
  padding: cssUtils.$spacing-3xs cssUtils.$spacing-0;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.crayon-checkbox-item-root {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: cssUtils.$rounded-xs;
  border: 1px solid cssUtils.$stroke-interactive-el;
  cursor: pointer;
  margin-top: cssUtils.$spacing-2xs;

  &[data-state="checked"] {
    background-color: cssUtils.$interactive-accent;
    color: cssUtils.$primary-text;
  }

  &:not(:disabled):not([data-state="checked"]):hover {
    border-color: cssUtils.$stroke-interactive-el;
    background-color: cssUtils.$bg-sunk;
    color: cssUtils.$secondary-text;
  }

  &:disabled {
    cursor: not-allowed;
    color: cssUtils.$disabled-text;
  }
}

.crayon-checkbox-item-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  color: cssUtils.$accent-primary-text;
}

.crayon-checkbox-item-content {
  display: flex;
  flex-direction: column;
}

.crayon-checkbox-item-label {
  flex: 1;
  @include cssUtils.typography(primary, default);
  color: cssUtils.$primary-text;
  &:disabled {
    color: cssUtils.$disabled-text;
  }
}

.crayon-checkbox-item-description {
  @include cssUtils.typography(body, default);
  color: cssUtils.$secondary-text;
}
