@use "../../cssUtils" as cssUtils;

.crayon-checkbox-item-container {
  display: flex;
  align-items: center;
  gap: cssUtils.$spacing-2xs;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  padding-top: cssUtils.$spacing-3xs;
  padding-bottom: cssUtils.$spacing-3xs;
  padding-left: cssUtils.$spacing-0;
  padding-right: cssUtils.$spacing-2xs;
}

.crayon-checkbox-item-root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  border: 1px solid cssUtils.$stroke-interactive-el;
  background-color: cssUtils.$bg-container;
  cursor: pointer;

  &:not(:disabled):hover {
    border-color: cssUtils.$stroke-interactive-el-hover;
  }

  &:disabled {
    cursor: not-allowed;
    color: cssUtils.$disabled-text;
  }
}

.crayon-checkbox-item-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  color: cssUtils.$primary-text;
}

.crayon-checkbox-item-label {
  flex: 1;
  &:disabled {
    color: cssUtils.$disabled-text;
  }
}
