@use "sass:map";
@use "../../cssUtils" as cssUtils;

.crayon-checkbox-item-container {
  display: flex;
  align-items: center;
  gap: map.get(cssUtils.$spacing, "2xs");
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  padding-top: map.get(cssUtils.$spacing, "3xs");
  padding-bottom: map.get(cssUtils.$spacing, "3xs");
  padding-left: map.get(cssUtils.$spacing, "0");
  padding-right: map.get(cssUtils.$spacing, "2xs");
}

.crayon-checkbox-item-root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  border: 1px solid map.get(cssUtils.$colors, "strokes", "interactive-el");
  background-color: map.get(cssUtils.$colors, "fills", "container");
  cursor: pointer;

  &:not(:disabled):hover {
    border-color: map.get(cssUtils.$colors, "strokes", "interactive-el-hover");
  }

  &:disabled {
    cursor: not-allowed;
    color: map.get(cssUtils.$colors, "text", "disabled");
  }
}

.crayon-checkbox-item-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.crayon-checkbox-item-label {
  flex: 1;
  &:disabled {
    color: map.get(cssUtils.$colors, "text", "disabled");
  }
}
