@use "sass:map";

// Crayon Background Colors

$bg-fill: var(--crayon-background-fills);
$bg-container: var(--crayon-container-fills);
$bg-overlay: var(--crayon-overlay-fills);
$bg-sunk: var(--crayon-sunk-fills);
$bg-danger: var(--crayon-danger-fills);
$bg-success: var(--crayon-success-fills);
$bg-info: var(--crayon-info-fills);
$bg-elevated: var(--crayon-elevated-fills);
$bg-alert: var(--crayon-alert-fills);
$bg-inverted: var(--crayon-inverted-fills);
$bg-sunk-bg: var(--crayon-sunk-bg-fills);
$bg-highlight-subtle: var(--crayon-highlight-subtle);

// Crayon Interactive Colors

$interactive-default: var(--crayon-interactive-default);
$interactive-hover: var(--crayon-interactive-hover);
$interactive-pressed: var(--crayon-interactive-pressed);
$interactive-disabled: var(--crayon-interactive-disabled);
$interactive-accent: var(--crayon-interactive-accent);
$interactive-accent-hover: var(--crayon-interactive-accent-hover);
$interactive-accent-pressed: var(--crayon-interactive-accent-pressed);
$interactive-accent-disabled: var(--crayon-interactive-accent-disabled);
$interactive-destructive: var(--crayon-interactive-destructive);
$interactive-destructive-hover: var(--crayon-interactive-destructive-hover);
$interactive-destructive-pressed: var(--crayon-interactive-destructive-pressed);
$interactive-destructive-disabled: var(--crayon-interactive-destructive-disabled);
$interactive-destructive-accent: var(--crayon-interactive-destructive-accent);
$interactive-destructive-accent-hover: var(--crayon-interactive-destructive-accent-hover);
$interactive-destructive-accent-pressed: var(--crayon-interactive-destructive-accent-pressed);
$interactive-destructive-accent-disabled: var(--crayon-interactive-destructive-accent-disabled);

// Crayon Stroke Colors

$stroke-default: var(--crayon-stroke-default);
$stroke-interactive-el: var(--crayon-stroke-interactive-el);
$stroke-interactive-el-selected: var(--crayon-stroke-interactive-el-selected);
$stroke-emphasis: var(--crayon-stroke-emphasis);
$stroke-accent: var(--crayon-stroke-accent);
$stroke-accent-emphasis: var(--crayon-stroke-accent-emphasis);
$stroke-info: var(--crayon-stroke-info);
$stroke-info-emphasis: var(--crayon-stroke-info-emphasis);
$stroke-alert: var(--crayon-stroke-alert);
$stroke-alert-emphasis: var(--crayon-stroke-alert-emphasis);
$stroke-success: var(--crayon-stroke-success);
$stroke-success-emphasis: var(--crayon-stroke-success-emphasis);
$stroke-danger: var(--crayon-stroke-danger);
$stroke-danger-emphasis: var(--crayon-stroke-danger-emphasis);

// Crayon Text Colors

$primary-text: var(--crayon-primary-text);
$secondary-text: var(--crayon-secondary-text);
$disabled-text: var(--crayon-disabled-text);
$link-text: var(--crayon-link-text);
$accent-primary-text: var(--crayon-accent-primary-text);
$accent-secondary-text: var(--crayon-accent-secondary-text);
$accent-disabled-text: var(--crayon-accent-disabled-text);
$success-primary-text: var(--crayon-success-primary-text);
$success-inverted-text: var(--crayon-success-inverted-text);
$alert-primary-text: var(--crayon-alert-primary-text);
$alert-inverted-text: var(--crayon-alert-inverted-text);
$danger-primary-text: var(--crayon-danger-primary-text);
$danger-secondary-text: var(--crayon-danger-secondary-text);
$danger-disabled-text: var(--crayon-danger-disabled-text);
$danger-inverted-primary-text: var(--crayon-danger-inverted-primary-text);
$danger-inverted-secondary-text: var(--crayon-danger-inverted-secondary-text);
$danger-inverted-disabled-text: var(--crayon-danger-inverted-disabled-text);
$info-primary-text: var(--crayon-info-primary-text);
$info-inverted-text: var(--crayon-info-inverted-text);

// Crayon Spacing

$spacing-0: var(--crayon-spacing-0);
$spacing-3xs: var(--crayon-spacing-3xs);
$spacing-2xs: var(--crayon-spacing-2xs);
$spacing-xs: var(--crayon-spacing-xs);
$spacing-s: var(--crayon-spacing-s);
$spacing-m: var(--crayon-spacing-m);
$spacing-l: var(--crayon-spacing-l);
$spacing-xl: var(--crayon-spacing-xl);
$spacing-2xl: var(--crayon-spacing-2xl);
$spacing-3xl: var(--crayon-spacing-3xl);

// Crayon Radius

$rounded-0: var(--crayon-rounded-0);
$rounded-3xs: var(--crayon-rounded-3xs);
$rounded-2xs: var(--crayon-rounded-2xs);
$rounded-xs: var(--crayon-rounded-xs);
$rounded-s: var(--crayon-rounded-s);
$rounded-m: var(--crayon-rounded-m);
$rounded-l: var(--crayon-rounded-l);
$rounded-xl: var(--crayon-rounded-xl);
$rounded-2xl: var(--crayon-rounded-2xl);
$rounded-3xl: var(--crayon-rounded-3xl);
$rounded-full: var(--crayon-rounded-full);

// Crayon Shadows

$shadow-s: var(--crayon-shadow-s);
$shadow-m: var(--crayon-shadow-m);
$shadow-l: var(--crayon-shadow-l);
$shadow-xl: var(--crayon-shadow-xl);
$shadow-2xl: var(--crayon-shadow-2xl);
$shadow-3xl: var(--crayon-shadow-3xl);

// Crayon Chat Colors

$chat-container-bg: var(--crayon-chat-container-bg);
$chat-assistant-response-bg: var(--crayon-chat-assistant-response-bg);
$chat-assistant-response-text: var(--crayon-chat-assistant-response-text);
$chat-user-response-bg: var(--crayon-chat-user-response-bg);
$chat-user-response-text: var(--crayon-chat-user-response-text);

@function typography($font-name) {
  @return (font: var(--#{$font-name}), letter-spacing: var(--#{$font-name}-letter-spacing));
}

$typography: (
  body: (
    default: typography(crayon-font-body),
    link: typography(crayon-font-body-link),
    heavy: typography(crayon-font-body-heavy),
    medium: typography(crayon-font-body-medium),
    small: typography(crayon-font-body-small),
    small-heavy: typography(crayon-font-body-small-heavy),
    large: typography(crayon-font-body-large),
    large-heavy: typography(crayon-font-body-large-heavy),
  ),
  label: (
    default: typography(crayon-font-label),
    heavy: typography(crayon-font-label-heavy),
    large: typography(crayon-font-label-large),
    large-heavy: typography(crayon-font-label-large-heavy),
    medium: typography(crayon-font-label-medium),
    medium-heavy: typography(crayon-font-label-medium-heavy),
    small: typography(crayon-font-label-small),
    small-heavy: typography(crayon-font-label-small-heavy),
    extra-small: typography(crayon-font-label-extra-small),
    extra-small-heavy: typography(crayon-font-label-extra-small-heavy),
    2-extra-small: typography(crayon-font-label-2-extra-small),
    2-extra-small-heavy: typography(crayon-font-label-2-extra-small-heavy),
  ),
  heading: (
    large: typography(crayon-font-heading-large),
    medium: typography(crayon-font-heading-medium),
    small: typography(crayon-font-heading-small),
    extra-small: typography(crayon-font-heading-extra-small),
  ),
  number: (
    large: typography(crayon-font-number-large),
    large-heavy: typography(crayon-font-number-large-heavy),
    heavy: typography(crayon-font-number-heavy),
    default: typography(crayon-font-number),
    small: typography(crayon-font-number-small),
    small-heavy: typography(crayon-font-number-small-heavy),
    extra-small: typography(crayon-font-number-extra-small),
    extra-small-heavy: typography(crayon-font-number-extra-small-heavy),
    title: typography(crayon-font-number-title),
    title-medium: typography(crayon-font-number-title-medium),
  ),
);

@mixin typography($font-name, $font-variant) {
  font: map.get($typography, $font-name, $font-variant, font);
  letter-spacing: map.get($typography, $font-name, $font-variant, letter-spacing);
}

@mixin button-reset {
  padding: 0;
  border: 0;
  background: transparent;
}
