@use "sass:map";

// Crayon Background Colors

$bg-fill: var(--crayon-background-fills);
$bg-brand-el: var(--crayon-brand-el-fills);
$bg-brand-el-hover: var(--crayon-brand-el-hover-fills);
$bg-container: var(--crayon-container-fills);
$bg-container-hover: var(--crayon-container-hover-fills);
$bg-overlay: var(--crayon-overlay-fills);
$bg-sunk: var(--crayon-sunk-fills);
$bg-danger: var(--crayon-danger-fills);
$bg-success: var(--crayon-success-fills);

// Crayon Strokes Colors

$stroke-default: var(--crayon-strokes-default);
$stroke-interactive-el: var(--crayon-stocks-interactive-el);
$stroke-interactive-el-hover: var(--crayon-stocks-interactive-el-hover);
$stroke-interactive-el-selected: var(--crayon-strokes-interactive-el-selected);

// Crayon Text Colors

$brand-text: var(--crayon-brand-text);
$brand-secondary-text: var(--crayon-brand-secondary-text);
$primary-text: var(--crayon-primary-text);
$secondary-text: var(--crayon-secondary-text);
$disabled-text: var(--crayon-disabled-text);
$danger-text: var(--crayon-danger-text);
$success-text: var(--crayon-success-text);
$link-text: var(--crayon-link-text);
$info-text: var(--crayon-info-text);

// Crayon Spacing

$spacing-0: var(--crayon-spacing-0);
$spacing-3xs: var(--crayon-spacing-3xs);
$spacing-2xs: var(--crayon-spacing-2xs);
$spacing-xs: var(--crayon-spacing-xs);
$spacing-s: var(--crayon-spacing-s);
$spacing-m: var(--crayon-spacing-m);
$spacing-l: var(--crayon-spacing-l);
$spacing-xl: var(--crayon-spacing-xl);
$spacing-2xl: var(--crayon-spacing-2xl);
$spacing-3xl: var(--crayon-spacing-3xl);

// Crayon Radius

$rounded-0: var(--crayon-rounded-0);
$rounded-3xs: var(--crayon-rounded-3xs);
$rounded-2xs: var(--crayon-rounded-2xs);
$rounded-xs: var(--crayon-rounded-xs);
$rounded-s: var(--crayon-rounded-s);
$rounded-m: var(--crayon-rounded-m);
$rounded-l: var(--crayon-rounded-l);
$rounded-xl: var(--crayon-rounded-xl);
$rounded-2xl: var(--crayon-rounded-2xl);
$rounded-3xl: var(--crayon-rounded-3xl);
$rounded-full: var(--crayon-rounded-full);

// Crayon Shadows

$shadow-s: var(--crayon-shadow-s);
$shadow-m: var(--crayon-shadow-m);
$shadow-l: var(--crayon-shadow-l);
$shadow-xl: var(--crayon-shadow-xl);
$shadow-2xl: var(--crayon-shadow-2xl);
$shadow-3xl: var(--crayon-shadow-3xl);

@function typography($font-name) {
  @return (font: var(--#{$font-name}), letter-spacing: var(--#{$font-name}-letter-spacing));
}

$typography: (
  body: (
    default: typography(crayon-font-body),
    link: typography(crayon-font-body-link),
    heavy: typography(crayon-font-body-heavy),
    medium: typography(crayon-font-body-medium),
    small: typography(crayon-font-body-small),
    small-heavy: typography(crayon-font-body-small-heavy),
  ),
  label: (
    default: typography(crayon-font-label),
    heavy: typography(crayon-font-label-heavy),
    small: typography(crayon-font-label-small),
    small-heavy: typography(crayon-font-label-small-heavy),
    extra-small: typography(crayon-font-label-extra-small),
    extra-small-heavy: typography(crayon-font-label-extra-small-heavy),
    large: typography(crayon-font-label-large),
    large-heavy: typography(crayon-font-label-large-heavy),
    medium: typography(crayon-font-label-medium),
    medium-heavy: typography(crayon-font-label-medium-heavy),
  ),
  heading: (
    large: typography(crayon-font-heading-large),
    medium: typography(crayon-font-heading-medium),
    small: typography(crayon-font-heading-small),
  ),
  primary: (
    default: typography(crayon-font-primary),
  ),
  title: (
    default: typography(crayon-font-title),
    medium: typography(crayon-font-title-medium),
    small: typography(crayon-font-title-small),
  ),
);

@mixin typography($font-name, $font-variant) {
  font: map.get($typography, $font-name, $font-variant, font);
  letter-spacing: map.get($typography, $font-name, $font-variant, letter-spacing);
}

@mixin button-reset {
  padding: 0;
  border: 0;
  background: transparent;
}
