@use "../../cssUtils" as cssUtils;

.crayon-text-callout {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: cssUtils.$spacing-xs;
  padding: 0 16px 0 16px;
  box-sizing: border-box;

  &-neutral {
    border-left: 2px solid cssUtils.$stroke-interactive-el-selected;
    color: cssUtils.$primary-text;
    .crayon-text-callout-content-title {
      color: cssUtils.$primary-text;
    }
  }

  &-info {
    border-left: 2px solid cssUtils.$stroke-info-emphasis;
    color: cssUtils.$info-primary-text;
  }

  &-warning {
    border-left: 2px solid cssUtils.$stroke-alert-emphasis;
    color: cssUtils.$alert-primary-text;
  }

  &-success {
    border-left: 2px solid cssUtils.$stroke-success-emphasis;
    color: cssUtils.$success-primary-text;
  }

  &-danger {
    border-left: 2px solid cssUtils.$stroke-danger-emphasis;
    color: cssUtils.$danger-primary-text;
  }

  &-icon {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: cssUtils.$spacing-3xs;
  }

  &-icon-inner {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-content {
    display: flex;
    flex-direction: column;
    &-title {
      @include cssUtils.typography(body, heavy);
    }

    &-description {
      @include cssUtils.typography(body, default);
      color: cssUtils.$primary-text;
    }
  }
}
