@use "../../cssUtils" as cssUtils;
@use "sass:map";

.crayon-shell-thread-list {
  display: flex;
  flex-direction: column;
  gap: map.get(cssUtils.$spacing, "s");
  overflow: auto;
}

.crayon-shell-thread-list-group {
  display: flex;
  padding-left: map.get(cssUtils.$spacing, "xs");
  color: map.get(cssUtils.$colors, "text", "secondary");
  @include cssUtils.typography(label, default);
}

.crayon-shell-thread-button {
  width: 100%;
  @include cssUtils.button-reset;
  @include cssUtils.typography(primary, default);
  padding: map.get(cssUtils.$spacing, "2xs") map.get(cssUtils.$spacing, "xs");
  border-radius: map.get(cssUtils.$radius, "s");
  border: 1px solid transparent;
  text-align: left;
  cursor: pointer;

  &--selected {
    background-color: map.get(cssUtils.$colors, "fills", "sunk");
    border-color: map.get(cssUtils.$colors, "stokes", "default");
  }
}
