@use "../../cssUtils" as cssUtils;

.crayon-table-container {
  position: relative;
  width: 100%;
  overflow: auto;
}

.crayon-table {
  @include cssUtils.typography(label, small);
  width: 100%;
  caption-side: bottom;
  border-collapse: collapse;
}

.crayon-table-footer {
  border-top: 1px solid cssUtils.$stroke-default;

  & > tr:last-child {
    border-bottom: 0;
  }
}

.crayon-table-cell,
.crayon-table-head {
  padding: cssUtils.$spacing-m;
  padding-left: 0;
  color: cssUtils.$primary-text;
}

.crayon-table-head {
  border-bottom: 1px solid cssUtils.$stroke-default;
  & .crayon-table-head-label {
    @include cssUtils.typography(label, small-heavy);
    color: cssUtils.$secondary-text;
    display: inline-flex;
    flex-grow: 1;
    justify-content: left;
  }

  & .crayon-table-head-content {
    display: flex;
    align-items: center;
    gap: cssUtils.$spacing-2xs;
  }

  & .crayon-table-head-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: cssUtils.$secondary-text;
  }
}

.crayon-table-caption {
  @include cssUtils.typography(label, heavy);
  color: cssUtils.$primary-text;
  margin-top: cssUtils.$spacing-m;
}

.crayon-table-row {
  border-bottom: 1px solid cssUtils.$stroke-default;

  &:last-child {
    border-bottom: 0;
  }
}
