@use "../../cssUtils" as cssUtils;

.crayon-switch-group {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: cssUtils.$spacing-2xs;
  border: 1px solid;
  border-radius: cssUtils.$rounded-m;

  &-clear {
    border-color: transparent;
    background-color: transparent;
    padding: cssUtils.$spacing-0;
  }

  &-card {
    border-color: cssUtils.$stroke-default;
    padding: cssUtils.$spacing-l;
  }

  &-sunk {
    border-color: cssUtils.$stroke-default;
    background-color: cssUtils.$bg-sunk;
    padding: cssUtils.$spacing-l;
  }
}
