@use "../../cssUtils" as cssUtils;

.crayon-toggle-item {
  box-sizing: border-box;
  @include cssUtils.typography(body, default);
  padding: cssUtils.$spacing-m;
  border-radius: cssUtils.$rounded-m;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  gap: cssUtils.$spacing-2xs;
  align-items: center;
  background-color: cssUtils.$bg-container;
  color: cssUtils.$primary-text;
  border-color: cssUtils.$stroke-default;
  &:hover {
    background-color: cssUtils.$bg-container-hover;
  }
  &:disabled {
    color: cssUtils.$disabled-text;
    border-color: cssUtils.$stroke-default;
    cursor: not-allowed;
  }

  &[data-state="on"] {
    background-color: cssUtils.$bg-brand-el;
    color: cssUtils.$brand-text;
    &:hover {
      background-color: cssUtils.$bg-brand-el-hover;
    }
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
