@use "../../../cssUtils.scss" as cssUtils;

.crayon-hint {
  box-sizing: border-box;
  @include cssUtils.typography(label, default);
  color: cssUtils.$secondary-text;
  display: flex;
  align-items: center;
  gap: cssUtils.$spacing-2xs;
  padding-left: cssUtils.$spacing-2xs;

  &-error {
    color: cssUtils.$danger-primary-text;
  }
}
