@use "../../cssUtils" as cssUtils;

.crayon-carousel {
  position: relative;
  display: flex;

  &-content {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: cssUtils.$spacing-m;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -ms-overflow-x: hidden;
    scrollbar-width: none;

    &-wrapper {
      display: flex;
      gap: cssUtils.$spacing-m;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    & > * {
      box-sizing: border-box;
      scroll-snap-align: start;
    }
  }

  &-item {
    @include cssUtils.typography(body, default);
    display: flex;
    flex-direction: column;
    gap: cssUtils.$spacing-s;
    min-width: 200px;
    max-width: 200px;
    border-radius: cssUtils.$rounded-m;
    background-color: cssUtils.$bg-container;
    padding: cssUtils.$spacing-m;
    border: 1px solid cssUtils.$stroke-default;
  }

  &-button {
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);

    &-left {
      left: 0;
    }

    &-right {
      right: 0;
    }
  }
}
