@use "../../cssUtils" as cssUtils;

.crayon-steps-container {
  min-width: 280px;
  width: 100%;
  margin: 0 auto;
  @include cssUtils.typography(label, small);
  color: cssUtils.$primary-text;
}

.crayon-steps {
  display: flex;
  flex-direction: column;
}

.crayon-step-item {
  display: flex;
  margin-bottom: cssUtils.$spacing-l;
  position: relative;
  color: cssUtils.$primary-text;
}

.crayon-step-connector {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: cssUtils.$spacing-xs;
}

.crayon-step-number {
  padding: cssUtils.$spacing-2xs 0px cssUtils.$spacing-2xs 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include cssUtils.typography(label, default);
  z-index: 2;
  color: cssUtils.$secondary-text;
  background-color: cssUtils.$bg-container;
}
.crayon-step-number-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: cssUtils.$bg-sunk;
  color: cssUtils.$secondary-text;
  border: 1px solid cssUtils.$stroke-default;
  box-sizing: border-box;
}
.crayon-connector-line {
  width: 1px;
  flex-grow: 1;
  position: absolute;
  top: 0px;
  bottom: -20px;
  left: 10px;
  z-index: 1;
  background-color: cssUtils.$bg-container-hover;
}
.crayon-step-content {
  padding-top: cssUtils.$spacing-2xs;
  display: flex;
  flex-direction: column;
  gap: cssUtils.$spacing-3xs;
}
.crayon-step-title {
  @include cssUtils.typography(title, default);
  color: cssUtils.$secondary-text;
}

.crayon-step-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(cssUtils.$spacing-m + 2px);
  @include cssUtils.typography(body, small);
}
