@use "../../cssUtils" as cssUtils;

.crayon-steps-container {
  min-width: 280px;
  width: 100%;
  margin: 0 auto;
}

.crayon-steps {
  display: flex;
  flex-direction: column;
}

.crayon-step-item {
  display: flex;
  position: relative;
  gap: cssUtils.$spacing-m;
}

.crayon-step-connector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crayon-step-number {
  padding: cssUtils.$spacing-2xs 0px cssUtils.$spacing-2xs 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.crayon-step-number-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: cssUtils.$bg-elevated;
  color: cssUtils.$secondary-text;
  border: 1px solid cssUtils.$stroke-default;
  box-sizing: border-box;
  @include cssUtils.typography(label, small);
}

.crayon-connector-line {
  width: 1px;
  flex-grow: 1;
  z-index: 1;
  background-color: cssUtils.$bg-sunk;
  .crayon-step-item:last-child & {
    display: none;
  }
}

.crayon-step-content {
  padding-top: cssUtils.$spacing-2xs;
  display: flex;
  flex-direction: column;
  gap: cssUtils.$spacing-3xs;
  margin-bottom: cssUtils.$spacing-l;

  .crayon-step-item:last-child & {
    margin-bottom: 0;
  }
}

.crayon-step-title {
  @include cssUtils.typography(title, default);
  color: cssUtils.$secondary-text;
}

.crayon-step-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(cssUtils.$spacing-m + 2px);
  @include cssUtils.typography(body, default);
}
