@use "sass:map";
@use "../../cssUtils" as cssUtils;

.crayon-radio-item-container {
  display: flex;
  align-items: center;
  gap: map.get(cssUtils.$spacing, "2xs");
  padding-top: map.get(cssUtils.$spacing, "3xs");
  padding-bottom: map.get(cssUtils.$spacing, "3xs");
  padding-left: map.get(cssUtils.$spacing, "0");
  padding-right: map.get(cssUtils.$spacing, "2xs");
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.crayon-radio-item-root {
  box-sizing: border-box;
  border-radius: map.get(cssUtils.$radius, "full");
  border: none;
  height: 14px;
  width: 14px;
  cursor: pointer;
  background-color: transparent;

  &[data-state] {
    // This makes the root element a styling context for children
    position: relative;
  }

  // Disabled state
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.crayon-radio-item-svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// First path - circle between border and center
.crayon-radio-item-svg-path {
  .crayon-radio-item-root[data-state="unchecked"] & {
    fill: map.get(cssUtils.$colors, "fills", "container");

    .crayon-radio-item-root:hover:not(:disabled) & {
      fill: map.get(cssUtils.$colors, "fills", "container");
    }
  }

  .crayon-radio-item-root[data-state="checked"] & {
    fill: map.get(cssUtils.$colors, "fills", "container");
  }
}

// Border path
.crayon-radio-item-svg-border {
  .crayon-radio-item-root[data-state="unchecked"] & {
    stroke: map.get(cssUtils.$colors, "strokes", "interactive-el");
  }

  .crayon-radio-item-root[data-state="checked"] & {
    stroke: map.get(cssUtils.$colors, "strokes", "interactive-el-hover");
  }
}

// Inner circle path
.crayon-radio-item-svg-inner {
  .crayon-radio-item-root[data-state="checked"] & {
    fill: map.get(cssUtils.$colors, "fills", "brand-el");
  }

  .crayon-radio-item-root[data-state="unchecked"] & {
    fill: map.get(cssUtils.$colors, "fills", "container");
  }

  .crayon-radio-item-root[data-state="unchecked"]:hover:not(:disabled) & {
    fill: map.get(cssUtils.$colors, "strokes", "default");
  }
}
